html#nevernotcooking

    section
        background: $black
        color: $light

        &:nth-child(1)
            .wrapper
                padding-bottom: 0
        &:nth-child(2)
            .wrapper
                padding-top: 0