
@font-face {
    font-family: "CircularStd-Book";
    src: local('CircularStd Book'), local('CircularStd-Book'), url("/assets/fonts/CircularStd-Book.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
