
@font-face {
    font-family:"CircularStd-Book";
    src: local('CircularStd Book'), local('CircularStd-Book'), url("CircularStd-Book.woff2") format("woff2"),url("CircularStd-Book.woff") format("woff"),url("CircularStd-Book.otf") format("opentype");
    font-style:normal;
    font-weight:400;
    font-display: swap;
}
