
@font-face {
    font-family:"CircularStd-Bold";
    src: local('CircularStd Bold'), local('CircularStd-Bold'), url("CircularStd-Bold.woff2") format("woff2"),url("CircularStd-Bold.woff") format("woff"),url("CircularStd-Bold.otf") format("opentype");
    font-style:normal;
    font-weight:400;
    font-display: swap;
}
