---
date: 2011-12-07
title: Raw Talent
description: Corporate design and digital presence for musician and producer Barry L’Affair.
featuredImage: tghb.studio_barrylaffair-ci__18.jpg
tags: ['posts_en', 'identity', 'communication', 'digital']
slug: barrylaffair

seoTitle: Barry L’Affair
seoDescription: Corporate design and digital presence for musician and producer Barry L’Affair
metaImage: tghb.studio_barrylaffair-ci__og.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data="fade-up nd">
        <p class="intro prjct__ntr">With his debut album, the only 24-year-old proves not only his talent for singing, but also an extraordinary sensitivity as a songwriter and enormous knowledge and ability as a producer. We gave the singer-songwriter and recording machine an appearance.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_barrylaffair-ci__01.jpg", "Barry L'Affair Corporate Design" %}
</section>

<section class="{{ page.fileSlug }}__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_barrylaffair-ci__16.svg", "Barry L'Affair Corporate Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_barrylaffair-ci__17.svg", "Barry L'Affair Corporate Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_barrylaffair-ci__07.jpg", "Barry L'Affair Portrait" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb.studio_barrylaffair-ci__02.jpg", "Barry L'Affair Corporate Design" %}
      </div>

      <div class="item__5">
        {% lazypicture "tghb.studio_barrylaffair-ci__14.svg", "Barry L'Affair Corporate Design" %}
      </div>

      <div class="item__6">
        {% lazypicture "tghb.studio_barrylaffair-ci__15.svg", "Barry L'Affair Corporate Design" %}
      </div>

      <div class="item__7">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data="fade-up st">Corporate Design</li>
            <li data="fade-up nd">Photography</li>
            <li data="fade-up rd">UI/UX Design</li>
            <li data="fade-up frth">Coding</li>
          </ul>

        </div>
      </div>

      <div class="item__8">
        {% lazypicture "tghb.studio_barrylaffair-ci__03.jpg", "Barry L'Affair Corporate Design" %}
      </div>

      <div class="item__9">
        {% lazypicture "tghb.studio_barrylaffair-ci__04.jpg", "Barry L'Affair Corporate Design" %}
      </div>

      <div class="item__10">
        {% lazypicture "tghb.studio_barrylaffair-ci__05.jpg", "Barry L'Affair Corporate Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_barrylaffair-ci__09.jpg", "Barry L'Affair Website" %}
</section>

<section class="{{ page.fileSlug }}__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr" data="fade-up">
          <p>We have developed a corporate design that does justice to the professionalism and talent of the musician and producer. A serious and dynamic appearance in the overall perception, aesthetic and sophisticated. Adult, authentic and individual.</p>
        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_barrylaffair-ci__06.jpg", "Barry L'Affair Portrait" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_barrylaffair-ci__11.jpg", "Barry L'Affair Website" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb.studio_barrylaffair-ci__10.jpg", "Barry L'Affair Website" %}
      </div>

      <div class="item__5">
        {% lazypicture "tghb.studio_barrylaffair-ci__13.jpg", "Barry L'Affair Website" %}
      </div>

      <div class="item__6">
        {% lazypicture "tghb.studio_barrylaffair-ci__12.jpg", "Barry L'Affair Website" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_barrylaffair-ci__08.jpg", "Barry L'Affair Portrait" %}
</section>
