---
date: 2022-11-01
title: Karlheinz Gumbrecht
description: Corporate design for a traditional forwarding agency - Bremerhaven.
featuredImage: tghb_studio__gumbrecht_feat__01.jpg
tags: ['posts_en', 'identity']
slug: gumbrecht

seoTitle: Karlheinz Gumbrecht
seoDescription: Corporate design for a traditional forwarding agency - Bremerhaven.
metaImage: tghb_studio__gumbrecht__og.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>


        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data="fade-up">
        <p class="intro prjct__ntr nd">
          In fall/winter 2022, the pilot for the new customs crime series "Grenzland" was filmed in Bremen and Bremerhaven. We developed a corporate design for a fictitious, long-established Bremerhaven forwarding agency with an additional redesign "30 years later".
        </p>
      </div>

    </div>
  </div>
</section>

<section class="{{ page.fileSlug }}__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <!-- Slider main container -->
        <div class="swiper cs_sldr gumbrecht_01__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__14.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__19.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__15.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__16.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__17.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__18.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio__gumbrecht__02.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio__gumbrecht__25.svg", "Karlheinz Gumbrecht - Corporate Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio__gumbrecht__03.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
</section>

<section class="{{ page.fileSlug }}__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">

        {% lazypicture "tghb_studio__gumbrecht__26.svg", "Karlheinz Gumbrecht - Corporate Design" %}

      </div>

      <div class="item__2">

        <!-- Slider main container -->
        <div class="swiper cs_sldr gumbrecht_02__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__20.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__22.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__21.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>

      </div>   

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio__gumbrecht__05.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio__gumbrecht__04.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
</section>

<section class="{{ page.fileSlug }}__c">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data="fade-up st">Identity</li>
            <li data="fade-up nd">Corprate Design</li>
            <li data="fade-up rd">Graphic Design</li>
          </ul>

        </div>
      </div>

      <div class="item__2">
        <!-- Slider main container -->
        <div class="swiper cs_sldr gumbrecht_03__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__23.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__24.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">

  <!-- Slider main container -->
  <div class="swiper cs_sldr gumbrecht_04__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__09.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__08.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__07.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__06.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>

<section class="cs_hro">

  <!-- Slider main container -->
  <div class="swiper cs_sldr gumbrecht_05__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__13.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__12.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__11.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__10.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>
