---
date: 2022-06-01
title: A look at the cultural history of the region 
description: Concept, corporate design and communication for the LVR Landesmuseum Bonn.
featuredImage: tghb_studio_landesmuseum__thumb.svg
tags: ['posts_en', 'identity', 'communication']
slug: landesmuseumbonn

seoTitle: Visually fresh. The LandesMuseum -Bonn
seoDescription: Concept, corporate design and communication for the LVR Landesmuseum Bonn
metaImage: tghb_studio_landesmuseum__OGimg.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data="fade-up">
        <p class="intro prjct__ntr nd">
          The Landesmuseum Bonn was faced with the challenge of modernizing its editorial materials and revamping its visual appearance.
          <br><br>
          Our guiding principle was to develop a visually contemporary, appealing and informative design that presents the rich historical and cultural heritage of the Rhineland, as presented in the extensive collection of the Landesmuseum Bonn, in an attractive and effective way. 
        </p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">

  <!-- Slider main container -->
  <div class="swiper cs_sldr lvr_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__15.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__14.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__23.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>

<section class="{{ page.fileSlug }}__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb_studio_landesmuseum__20.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__22.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__19.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">Visually fresh.</h2>
          <p data="fade-up st">
            The main problem was to update the outdated and unattractive presentation of the exhibitions in order to better showcase the extensive collections from the Stone Age to the present day.
            <br><br>
            We developed several design concepts that captured the essence of the museum's historical narrative. Each concept aimed to combine modern aesthetics with historical accuracy to appeal to a broader audience while maintaining the integrity and depth of the historical content.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__21.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>

<section class="{{ page.fileSlug }}__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb_studio_landesmuseum__18.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__17.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__16.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">{{ translate[locale].services }}</h2>
          <ul>
            <li data="fade-up st">Strategy &amp; Identity</li>
            <li data="fade-up nd">Corporate Design</li>
            <li data="fade-up rd">Graphic Design</li>
            <li data="fade-up frth">Editorial Design</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__25.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>

<section class="{{ page.fileSlug }}__c">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">Improved visual appeal.</h2>
          <p data="fade-up st">
            The modernized appearance now also attracts a broader audience, including younger demographics who may have been less interested in traditional museum presentations and offerings.            
            <br><br>
            Visually appealing, we combine modern design elements with historical themes, making the materials more attractive and engaging. An intuitive layout and engaging content make it easier for visitors to explore the museum's offerings, resulting in a more immersive and informative experience.</p>
        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__03.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__02.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__04.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>

<section class="{{ page.fileSlug }}__d">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb_studio_landesmuseum__01.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__05.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__06.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  <!-- Slider main container -->
  <div class="swiper cs_sldr lvr_02__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__07.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__08.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__e">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">Strengthening the brand identity.</h2>
          <p data="fade-up st">
            A contemporary visual identity strengthens the brand identity of the Landesmuseum Bonn and positions it as a dynamic and future-oriented institution while honoring its historical roots.
            <br><br>
            A more accessible and appealing design of the museum's content, including its new editorial materials, will improve the educational effect and help visitors to develop a deeper understanding and appreciation of the history of the Rhineland.</p>
        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__13.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__11.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb_studio_landesmuseum__10.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__5">
        {% lazypicture "tghb_studio_landesmuseum__12.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__09.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>