---
permalink: /{{ locale }}/impressum/index.html
translationKey: "impressum"
---

<main>
  <div class="wrapper">

    <h5>Impressum</h5>

    <h6>Angaben gemäß § 5 TMG</h6>
    <p>TheGrandHeavyBold GbR<br />
    Herzbergstraße 4<br />
    61138 Niederdorfelden</p>

    <p><strong>Vertreten durch:</strong><br />
    Christian Kriegsheim & Tomáš Nims-Matoušek</p>

    <br>

    <h6>Kontakt</h6>
    <p>Telefon: +49 (0)6101 956 44 52<br />
    E-Mail: mail@tghb.studio</p>

    <br>

    <h6>Umsatzsteuer-ID</h6>
    <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br />
    DE 293 936 190</p>

    <br>

    <h6>Angaben zur Berufshaftpflichtversicherung</h6>
    <p><strong>Name und Sitz des Versicherers:</strong><br />
    Hiscox SA<br />
    Niederlassung für Deutschland<br />
    Arnulfstraße 31<br />
    80636 München</p>
    <p><strong>Geltungsraum der Versicherung:</strong><br />Deutschland, Europa, USA, Kanada</p>

    <br>

    <h6>EU-Streitschlichtung</h6>
    <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

    <br>

    <h6>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h6>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

  </div>
</main>
