---
permalink: /{{ locale }}/index.html
translationKey: "home"
---

<section class="frnt_hro parallax">

  <div class="wrapper">

    <h2 data="fade-up st">Strategie & Identität, <br>Gestaltung & Realisation.</h2>

  </div>

    {%- include "partials/hero_slider.njk" -%}

</section>

<section class="frnt_sctn wht">

  <div class="wrapper">

    <div class="sctn_ttl" data="fade-up">{{ translate[locale].services }}</div>

    <div class="sctn__hdr grd spcr">

      <div class="spn2" data="fade-up st">
        <h2>Markenerlebnisse & Produkte die begeistern und inspirieren.</h2>
      </div>

      <div class="sbln_lnk spn2" data="fade-up nd">

        <p class="intro">Medienübergreifende Markenkommunikation – wir erwecken Inhalte zum Leben.</p>

        <div class="teaser__links">

          <a class="lnk__18 hypr" href="/{{ locale }}/leistungen/index.html">
            <svg class="hyperlink_btn">
              <use xlink:href="#hyperlink_btn"></use>
            </svg> Alle Leistungen</a>

          <a class="lnk__18 hypr" href="/{{ locale }}/studio/index.html">
            <svg class="hyperlink_btn">
              <use xlink:href="#hyperlink_btn"></use>
            </svg> Mehr über uns</a>

        </div>


      </div>

    </div>

    <div class="frnt_srvcs__clmns">
      <div class="grd">
        <div class="clmn__1" data="fade-up st">
          <h6>Identität & Strategie</h6>
          <p>
            In einem offenen Dialog explorieren wir gemeinsam zum Beginn eines Projekts den Zweck, die Bedeutung und die Beziehungen Ihrer Unternehmung. Wir legen frei was Ihr Unternemen, Ihr Produkt einzigartig macht und erschaffen eine unverwechselbare und klare Identität. Darauf basierend entwickeln wir eine Kommunikationsstrategie für nachhaltigen Erfolg.
          </p>
        </div>

        <div class="clmn__2" data="fade-up nd">
          <h6>Gestaltung</h6>
          <p>
            Wir erwecken die visuelle Haltung Ihrer Marke zum Leben. Medienübergreifend, im realen oder virtuellen Raum, und auf Basis einer fundierten Markenstrategie. Wir entwickeln den nötigen charakteristischen Auftritt Ihrer Marke und machen den Wert Ihrer Marke sichtbar um Ihr die Wiedererkennbarkeit und die positive Wahrnehmung zu sichern.
          </p>
        </div>

        <div class="clmn__3" data="fade-up rd">
          <h6>Realisation</h6>
          <p>
            Das Maß für unsere Arbeit ist die Qualität Ihrer Interaktion. In einer schnellen und komplexen Welt schaffen wir einfache und intelligente Lösungen. Ob analog oder digital, wir übersetzen abstrakte Inhalte mit un­konventio­nellen Ideen in emotionales Design und machen Ihre Marke sichtbar und erlebbar und sorgen für ein unverwechselbares Marken­erleb­nis am Puls der Zeit.
          </p>
        </div>
      </div>

    </div>

  </div>

</section>

<section class="frnt_sctn tsrs drk">

  <div class="wrapper">

    <div class="sctn_ttl" data="fade-up">{{ translate[locale].projects }}</div>

    <div class="sctn__hdr grd spcr">

      <div class="spn2" data="fade-up nd">
        <h2>Strategisch, progressiv und nachhaltig.</h2>
      </div>

      <div class="ntr_lnk spn2" data="fade-up rd">

        <p class="intro">Wir verstehen Kommunikation ganzheitlich und liefern alles aus einer Hand.</p>

        <a class="lnk__18" href="/{{ locale }}/{{ navigation[locale].projects }}">
          <svg class="hyperlink_btn">
            <use xlink:href="#hyperlink_btn"></use>
          </svg> {{ translate[locale].all_projects }}</a>

      </div>

    </div>


    <div class="frnt_prjcts">

      <div class="tsr">

        {% for post in collections.posts_de.slice(6, 10) | reverse %}
          {% if loop.first %}<ul class="grd">{% endif %}
            {% set counter = ( counter | default(0) ) + 1 %}
            <li class="item__{{ counter }} c-nvrtd">

              <article>
                <a href="{{ post.url }}">
                <figure>

                  <picture class="lazy lazy-initial">

                    <source srcset="/assets/img/tiny/{{ post.data.featuredImage }}" media="(min-width: 1025px)">
                    <source srcset="/assets/img/tiny/{{ post.data.featuredImage }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
                    <source srcset="/assets/img/tiny/{{ post.data.featuredImage }}?nf_resize=fit&w=768" media="(min-width: 481px)">

                    <img src="/assets/img/tiny/{{ post.data.featuredImage }}?nf_resize=fit&w=480" alt="{{ post.data.title }} – {{ post.data.description }}" />

                  </picture>


                  <figcaption>

                    <div class="teaser_intro wrapper_ntr">

                      <h2 class="ease_in">{{ post.data.title }}</h2>
                      <h5 class="ease_in">{{ post.data.description }}</h5>
                      <svg class="teaser_btn">
                        <use xlink:href="#teaser_btn"></use>
                      </svg>

                    </div>

                  </figcaption>

                </figure>
              </a>
              </article>

            </li>

          {% if loop.last %}</ul>{% endif %}
        {% endfor %}

      </div>

    </div>

    <div class="cntr">
      <a class="big__link" href="/{{ locale }}/{{ navigation[locale].projects }}" data="fade-up">{{ translate[locale].all_projects }}</a>
    </div>

  </div>

</section>

{%- include "partials/qts_slider_de.njk" -%}

<section class="ppl">

  {%- include "partials/team_slider.njk" -%}

</section>

{%- include "partials/newsletter.njk" -%}

{%- include "partials/contact.njk" -%}
