---
permalink: /{{ locale }}/leistungen/index.html
translationKey: "leistungen"
---
<section class="pg_hro parallax">
  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2" data="fade-up st">
        <h1>Wir verstehen Kommunikation ganzheitlich.</h1>
      </div>

      <div class="sbln_lnk spn2" data="fade-up nd">

        <p class="intro">Von Markenstrategien, kreativen und innovativen Konzepten bis hin zur Gestaltung, Entwicklung und Umsetzung. Wir liefern alles aus einer Hand.</p>

      </div>

  </div>
</section>
<section class="srvcs__1 wht">
  <div class="wrapper_w_img grd">

    <div class="item__1" data="fade-up">
      {% lazypicture "tghb.studio_services__01.jpg", "Identity & Strategy"%}
    </div>

    <div class="srvc__item item__2">
      <h2 data="fade-up st">Identität & Strategie</h2>
      <ul class="srvc_list" data="fade-up nd">
        <li class="srvc_list__item">Markenentwicklung</li>
        <li class="srvc_list__item">Markenführung</li>
        <li class="srvc_list__item">Corporate Identity</li>
        <li class="srvc_list__item">Corporate Design</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

    <div class="item__3" data="fade-up">
      {% lazypicture "tghb.studio_services__02.jpg", "Communication & Design"%}
    </div>

    <div class="srvc__item item__4">
      <h2 data="fade-up st">Kommunikation & Design</h2>
      <ul class="srvc_list" data="fade-up nd">
        <li class="srvc_list__item">Kampagne</li>
        <li class="srvc_list__item">Content</li>
        <li class="srvc_list__item">Corporate Publishing</li>
        <li class="srvc_list__item">Packaging & POS</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

  </div>
</section>

<section class="hro __100">
  {% lazypicture "tghb.studio_image__01.jpg", "TheGrandHeavyBold Studio Tools"%}
</section>

<section class="srvcs__2">
  <div class="wrapper_w_img grd">

    <div class="item__1" data="fade-up">
      {% lazypicture "tghb.studio_services__05.jpg", "Web & Digital"%}
    </div>

    <div class="srvc__item item__2">
      <h2 data="fade-up st">Web & Digital</h2>
      <ul class="srvc_list" data="fade-up nd">
        <li class="srvc_list__item">Websites</li>
        <li class="srvc_list__item">Social Media</li>
        <li class="srvc_list__item">SEM (SEO, SEA)</li>
        <li class="srvc_list__item">Interfaces (UI/UX)</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

    <div class="item__3" data="fade-up">
      {% lazypicture "tghb.studio_services__04.jpg", "Interior & Production"%}
    </div>

    <div class="srvc__item item__4">
      <h2 data="fade-up st">Interior & Produktion</h2>
      <ul class="srvc_list" data="fade-up nd">
        <li class="srvc_list__item">Planung</li>
        <li class="srvc_list__item">Entwicklung</li>
        <li class="srvc_list__item">Design</li>
        <li class="srvc_list__item">Realisation</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

  </div>
</section>

<section class="hro __100">
  {% lazypicture "tghb.studio_image__02.jpg", "Interior Moodboard"%}
</section>

<section class="srvcs__3">
  <div class="wrapper_w_img grd">

    <div class="item__1" data="fade-up">
      {% lazypicture "tghb.studio_services__03.jpg", "Photography & Motion"%}
    </div>

    <div class="srvc__item item__2">
      <h2 data="fade-up st">Fotografie & Motion</h2>
      <ul class="srvc_list" data="fade-up nd">
        <li class="srvc_list__item">Image Fotografie</li>
        <li class="srvc_list__item">TV Spots & Markenfilme</li>
        <li class="srvc_list__item">Social Media Videos</li>
        <li class="srvc_list__item">3D & Animationen</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

  </div>
</section>

{%- include "partials/qts_slider_de.njk" -%}

{%- include "partials/newsletter.njk" -%}

{%- include "partials/contact.njk" -%}
