---
permalink: /{{ locale }}/studio/index.html
translationKey: "studio"
---

<section class="pg_hro">
  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1>Bold <span>never Regular</span>.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">Wir entwerfen Marken & Räume von URL bis IRL.</p>

        <a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> Studioportrait PDF</a>

      </div>

  </div>
</section>

<section class="hro __50">
  {% lazypicture "placeholder.jpg", "Placeholder"%}
</section>

<section class="studio_shrt">
  <div class="wrapper">
    <h3>
      <strong>TheGrandHeavyBold</strong> ist ein junges, inhabergeführtes, kreatives und interdisziplinäres Design Studio für Beratung, Gestaltung, Interaktion und Realisation. Wir entwickeln Marken und Produkte von URL bis hin zu IRL. Wir entwerfen Kampagnen, Websites, Print-Produkte und Interiors für Kunden aus Wirtschaft, Kultur, Bildung oder von privater Natur und arbeiten ganzheitlich, ideengetrieben und auf den Punkt.
    </h3>
  </div>
</section>

<section class="network drk">
  <div class="wrapper">

    <div class="sctn_ttl">Netzwerk</div>

    <div class="sctn__hdr grd spcr">

      <div class="spn2">
        <h1>Ein Kernteam und ein Netzwerk von Spezialisten.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">Für jedes Projekt stellen wie ein crossfunktionales Team von Fachleuten ganz speziell zusammen.</p>

      </div>

    </div>

    <div class="network_imgs grd">

      <div class="network_imgs__item">
        {% lazypicture "placeholder.jpg", "Placeholder"%}
        <p class="copy"><strong>Christian Kriegsheim</strong></p>
        <p>Gründer / Designer</p>
      </div>
      <div class="network_imgs__item">
        {% lazypicture "placeholder.jpg", "Placeholder"%}
        <p class="copy"><strong>Tomáš Nims-Matoušek</strong></p>
        <p>Gründer / Designer</p>
      </div>
      <div class="network_imgs__item">
        {% lazypicture "placeholder.jpg", "Placeholder"%}
        <p class="copy"><strong>Vorname Nachname</strong></p>
        <p>Designer / Art Director</p>
      </div>


    </div>

  </div>
</section>

<section class="hro __75">
  {% lazypicture "placeholder.jpg", "Placeholder"%}
</section>

<section class="ccrdntls">
  <div class="wrapper">

    <div class="sctn_ttl">Referenzen</div>

    <div class="sctn__hdr grd spcr">

      <div class="spn2">
        <h1>In good company.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">Erfolgreiche Projekte beginnen mit mutigen AuftraggebernInnen.</p>

      </div>

    </div>

    <ul class="crdntls_list">

      {% for clients in clientList.de %}

      <li class="crdntls__item"><h1>{{ clients }}</h1></li>

      {% endfor %}

    </ul>

  </div>
</section>

<section class="lctns">
  <div class="wrapper">

    <div class="sctn_ttl">Standorte</div>

    <div class="sctn__hdr grd spcr">

      <div class="spn2">
        <h1>Vor den Toren der Welt.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett.</p>

      </div>

    </div>

  </div>

  <div class="lctns_nf">

    <div class="lctns_list">

      <div class="lctns__items grd">

        <div class="item__1">
          {% lazypicture "placeholder.jpg", "Placeholder"%}
        </div>

        <div class="item__2 lctns__nf">

          <h2>Köln</h2>
          <span>
            <a href="tel:{{ footer[locale].cgn_phone }}">{{ footer[locale].cgn_phone }}</a>
            <a href="mailto:kriegsheim@tghb.studio">kriegsheim@tghb.studio</a>
            <span>{{ footer[locale].cgn_addressStreet }} {{ footer[locale].cgn_addressNumber }}<br />
            {{ footer[locale].cgn_addressPostcode }} {{ footer[locale].cgn_addressCity }}</span>
          </span>

          <a class="lnk__18" target="_blank" href="https://www.google.com/maps/dir//S%C3%B6mmeringstra%C3%9Fe+71,+50823+K%C3%B6ln/@50.9468776,6.912763,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47bf253c42d1422b:0xa43b4cf674da8bfb!2m2!1d6.9149517!2d50.9468742?ucbcb=1">
            Route <svg class="external_btn">
              <use xlink:href="#external_btn"></use>
            </svg></a>

        </div>

      </div>

    </div>

    <div class="lctns_list lft">

      <div class="lctns__items grd">

        <div class="item__1">
          {% lazypicture "placeholder.jpg", "Placeholder"%}
        </div>

        <div class="item__2 lctns__nf">

          <h2>Frankfurt</h2>
          <span>
            <a href="tel:{{ footer[locale].ffm_phone }}">‭{{ footer[locale].ffm_phone }}‬</a>
            <a href="mailto:matousek@tghb.studio">matousek@tghb.studio</a>
            <span>{{ footer[locale].ffm_addressStreet }} {{ footer[locale].ffm_addressNumber }}<br />
            {{ footer[locale].ffm_addressPostcode }} {{ footer[locale].ffm_addressCity }}</span>
          </span>

          <a class="lnk__18" target="_blank" href="https://www.google.com/maps/dir//Herzbergstra%C3%9Fe+4,+61138+Niederdorfelden/@50.1929701,8.7934953,18.2z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47bd054dc5a2ad53:0xa7d592b7ae369e5b!2m2!1d8.79389!2d50.19292?ucbcb=1">
            Route <svg class="external_btn">
              <use xlink:href="#external_btn"></use>
            </svg></a>

        </div>

      </div>

    </div>

  </div>

</section>
