picture
  width: 100%
  display: block
  overflow: hidden
  line-height: 0
  font-size: 0

  img
    width: 100%
    transition: filter 0.5s,

picture.lazy-initial
  background: $neon
  img
    width: calc(100% + 2 * $blurRadius)
    filter: blur($blurRadius *2)
    margin: ($blurRadius * -1) ($blurRadius * -2) ($blurRadius * -2)  ($blurRadius * -1)
