---
date: 2009-07-30
title: Huānyíng
description: Poster campaign for the guest of honor China at the Frankfurt Book Fair.
featuredImage: tghb.studio_buchmesse__feat_p.jpg
tags: ['posts_en', 'communication']
slug: buchmesse
translationKey: buchmesse

seoTitle: Frankfurt Book Fair Campaign Design | Huānyíng
seoDescription: Poster campaign and communication design for Guest of Honour China at the Frankfurt Book Fair.
metaImage: tghb.studio_buchmesse__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">
  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">The Frankfurt Book Fair has welcomed a country or region as a guest of honor every year since 1976. The appearance of the Guest of Honor gives the Frankfurt Book Fair a new look every year. For the guest of honor himself, the appearance is of double importance: the country's literature and culture receive immense attention, and the country's publishing industry is the focus of the largest international event for the book and media world.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_buchmesse__09_l.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__02_p.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__10_l.svg", "Frankfurter Buchmesse – Ehrengast China" %}
        {% lazypicture "tghb.studio_buchmesse__11_l.svg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__12_l.svg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__04_p.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

      <div class="item__5" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Concept</li>
            <li data-animate="fade-up" data-delay="0.2">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.3">Editorial Design</li>
          </ul>

        </div>

      </div>
      <div class="item__6" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__07_p.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__7" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__06_p.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_buchmesse__08_l.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__03_p.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_buchmesse__05_p.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

    </div>
  </div>
</section>
