---
date: 2009-08-21
title: All night long
description: Communication Playing times for Cocoon Club - Sven Väth.
featuredImage: tghb.studio_cocoonclub__feat_p.jpg
tags: ['posts_en', 'communication']
slug: cocoonclub
translationKey: cocoonclub

seoTitle: Cocoon Club Communication Design | Event Campaign
seoDescription: Communication and editorial campaign design for Cocoon Club event formats with Sven Väth.
metaImage: tghb.studio_cocoonclub__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd lght">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">The Frankfurt Cocoon Club of founder Sven Väth was legendary and notorious for ecstatic nights to the sound of breathtaking music from the best DJs in the world. Immediately after opening, the techno club was voted the best club of the year and quickly enjoyed world fame. For Playing times of resident DJs and guest DJs, we created numerous designs that ensured attention-grabbing communication across all channels, analog and digital.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_cocoonclub__01_l.jpg", "Cocoon Club" %}
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.2">Editorial Design</li>
            <li data-animate="fade-up" data-delay="0.3">Motion Design</li>
          </ul>

        </div>
      </div>
      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_cocoonclub__03_p.jpg", "Cocoon Club" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_cocoonclub__02_p.jpg", "Cocoon Club" %}
      </div>
      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_cocoonclub__04_p.jpg", "Cocoon Club" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_cocoonclub__05_l.jpg", "Cocoon Club" %}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_cocoonclub__08_p.jpg", "Cocoon Club" %}
      </div>
      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_cocoonclub__06_p.jpg", "Cocoon Club" %}
      </div>
      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_cocoonclub__07_p.jpg", "Cocoon Club" %}
      </div>

    </div>
  </div>
</section>
