---
date: 2019-01-01
title: Coffeegasm
description: Interim communication for the Café Mint & Things – Frankfurt.
featuredImage: tghb.studio_coffeegasm__07_p.jpg
tags: ['posts_en', 'communication']
slug: coffegasm
translationKey: coffegasm

seoTitle: Coffeegasm Brand Communication for Café | Case Study
seoDescription: Interim communication design and campaign assets for the café brand Mint & Things in Frankfurt.
metaImage: tghb.studio_coffeegasm__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>


<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_coffeegasm__01_l.jpg", "Coffeegasm – Posters" %}
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">Something new and beautiful is emerging here, a place where 	&ldquo;WorkLife Balance&rdquo; may be lived. Namely a small café where you can forget everyday life for a moment with excellent coffee and other delicacies. A coffee cake and concept store to feel good in front of the gates of the Main metropolis Frankfurt.</p>
      </div>

    </div>
  </div>
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__02_p.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__03_p.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p data-animate="fade-up"><strong>Coffegasm</strong></p>
          <p data-animate="fade-up" data-delay="0.2">A lot of hard work was done behind closed doors for the reopening of the Coffee Cake & Concept Store. With a small communication strategy and an attention-grabbing design, we provided the new announcement with posters and flyers and made sure that the new &ldquo;place to be&rdquo; caught the eye.</p>
          <div data-animate="fade-up" data-delay="0.3">
            <a class="lnk__18" target="_blank" rel="noopener" href="https://mintandthings.de">Website
              <svg class="external_btn">
                <use xlink:href="#external_btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_coffeegasm__04_l.jpg", "Coffeegasm – Posters" %}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Strategy</li>
            <li data-animate="fade-up" data-delay="0.2">Editorial Design</li>
            <li data-animate="fade-up" data-delay="0.3">Graphic Systems</li>
          </ul>

        </div>
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__05_p.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__06_p.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__07_p.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__5" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__08_p.svg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__6" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__09_p.svg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__7" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__10_p.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__8" data-animate="fade-up">
        {% lazypicture "tghb.studio_coffeegasm__11_p.jpg", "Coffeegasm – Posters" %}
      </div>


    </div>
  </div>
</section>


<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_coffeegasm__12_l.jpg", "Coffeegasm – Poster" %}
</section>
