---
date: 2021-05-01
title: Emporium
description: Appearance and communication for the opening of the gallery Emporium – Millstatt Abbey.
featuredImage: tghb.studio_emporium__16_p.jpg
tags: ['posts_en', 'identity', 'communication']
slug: emporium
translationKey: emporium

seoTitle: Gallery Emporium Brand Identity & Communication Design
seoDescription: Brand identity and communication design for the opening of Gallery Emporium at Millstatt Abbey.
metaImage: tghb.studio_emporium__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up">
          The gallery Emporium shows large-format photographs and works of art by various guest artists of the season on an area of ​​almost 600 square meters on the first floor of the arcade of the monastery on Lake Millstatt. The interesting room designs are perfectly coordinated with the photographs and the works of the exciting guest artists and with classical music and a coffee, it can be easily enjoyed with all your senses.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  <!-- Slider main container -->
  <div class="swiper cs_sldr emporium_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__02_l.jpg", "Emporium – Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__03_l.jpg", "Emporium – Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__04_l.jpg", "Emporium – Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_emporium__05_p.jpg", "Emporium – Editorial Design" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_emporium__06_p.jpg", "Emporium – Editorial Design" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_emporium__07_p.svg", "Emporium – Typography" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_emporium__08_p.svg", "Emporium – Colors" %}
      </div>

      <div class="item__5" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Strategy</li>
            <li data-animate="fade-up" data-delay="0.2">Editorial Design</li>
            <li data-animate="fade-up" data-delay="0.3">Graphic Design</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  <!-- Slider main container -->
  <div class="swiper cs_sldr emporium_02__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__09_l.jpg", "Emporium – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__12_l.jpg", "Emporium – Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__13_l.jpg", "Emporium – Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__14_l.jpg", "Emporium – Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_emporium__15_l.jpg", "Emporium – Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_emporium__10_p.jpg", "Emporium – Editorial Design" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p data-animate="fade-up"><strong>Early Romanesque meets contemporary art.</strong></p>
          <p data-animate="fade-up" data-delay="0.2">The gallery owes its name Emporium to its unusual and beautiful location. This is located in the old monastery on Lake Millstatt, which was built around 1070 as a Romanesque Benedictine monastery. Early Romanesque meets modern graphic design - for the opening of the gallery, we design a classic appearance with an unmistakable poster campaign that is intended to reflect romanticism and contemporary art. Loud and self-confident, with classic typography, strong colors and a digital key visual, we charge the gallery and culture in a futuristic way.</p>

        </div>
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_emporium__11_p.jpg", "Emporium – Editorial Design" %}
      </div>

    </div>
  </div>
</section>
