---
date: 2017-12-18
title: The Stir-Fry Guru
description: Web blog for author and wok specialist Grace Young - New York.
featuredImage: tghb.studio_graceyoung__feat_01_p.png
tags: ['posts_en', 'identity', 'digital']
slug: graceyoung
translationKey: graceyoung

seoTitle: Grace Young Editorial Web Design & Blog Development
seoDescription: Editorial web design and blog development for author and wok specialist Grace Young in New York.
metaImage: tghb.studio_graceyoung__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">
  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

  <section class="wht">
    <div class="cs-ntr wrapper">
      <div class="grd cs_items">

        <div class="cs_items__lft">
          <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">Grace Young is an award-winning cookbook writer, culinary historian, filmmaker, and is widely recognized as the wok and stir-fry guru from New York. We have revised, digitized and revitalized the author's corporate design.</p>
        </div>

      </div>
    </div>
  </section>


<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_graceyoung__01_l.jpg", "Grace Young Website" %}
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__08_l.jpg", "Grace Young Website"%}
      </div>
      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__05_p.jpg", "Grace Young Website"%}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__06_p.jpg", "Grace Young Website"%}
      </div>
      <div class="item__4" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Concept</li>
            <li data-animate="fade-up" data-delay="0.2">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.3">UI/UX Design</li>
            <li data-animate="fade-up" data-delay="0.4">Development</li>
          </ul>

        </div>
      </div>

      <div class="item__5" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__10_l.jpg", "Grace Young Website"%}
      </div>
      <div class="item__6" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>Wok Evangelist</strong></p>
          <p class="intro" data-animate="fade-up">The aim was to combine traditional Chinese design in a reduced and modern blog appearance. At the same time, the site should remind of a restaurant menu card and the kitchen as well. It also had to be easy to use and edit. Quick access to all information such as news, dates, videos and recipes, as well as step-by-step instructions for recipes that you can cook at home in your own kitchen, have been implemented.</p>
          <div data-animate="fade-up" data-delay="0.3">
            <a class="lnk__18" target="_blank" rel="noopener" href="https://graceyoung.com/">Website
              <svg class="external_btn">
                <use xlink:href="#external_btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="item__7" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__15_p.svg", "Grace Young Website"%}
      </div>

      <div class="item__8" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__13_l.svg", "Grace Young Website"%}
      </div>
      <div class="item__9" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__14_l.svg", "Grace Young Website"%}
      </div>

      <div class="item__10" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__16_p.svg", "Grace Young Website"%}
      </div>
      <div class="item__11" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__11_p.jpg", "Grace Young Website"%}
      </div>

      <div class="item__12" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__02_p.jpg", "Grace Young Website"%}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_graceyoung__07_l.jpg", "Grace Young Website"%}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__09_p.jpg", "Grace Young Website"%}
      </div>
      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__04_p.jpg", "Grace Young Website"%}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__12_p.jpg", "Grace Young Website"%}
      </div>
      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_graceyoung__03_p.jpg", "Grace Young Website"%}
      </div>

    </div>
  </div>
</section>
