---
date: 2022-11-01
title: Karlheinz Gumbrecht
description: Corporate design for a traditional forwarding agency - Bremerhaven.
featuredImage: tghb_studio__gumbrecht_feat__01_p.jpg
tags: ['posts_en', 'identity']
slug: gumbrecht
translationKey: gumbrecht

seoTitle: Karlheinz Gumbrecht Corporate Design for Logistics Brand
seoDescription: Corporate design and visual identity for the traditional logistics company Karlheinz Gumbrecht in Bremerhaven.
metaImage: tghb_studio__gumbrecht__og_l.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>


        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data-animate="fade-up">
        <p class="intro prjct__ntr nd">
          In fall/winter 2022, the pilot for the new customs crime series "Grenzland" was filmed in Bremen and Bremerhaven. We developed a corporate design for a fictitious, long-established Bremerhaven forwarding agency with an additional redesign "30 years later".
        </p>
      </div>

    </div>
  </div>
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <!-- Slider main container -->
        <div class="swiper cs_sldr gumbrecht_01__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__14_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__19_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__15_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__16_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__17_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__18_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb_studio__gumbrecht__02_p.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb_studio__gumbrecht__25_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb_studio__gumbrecht__03_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">

        {% lazypicture "tghb_studio__gumbrecht__26_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}

      </div>

      <div class="item__2" data-animate="fade-up">

        <!-- Slider main container -->
        <div class="swiper cs_sldr gumbrecht_02__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__20_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__22_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__21_p.svg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>

      </div>   

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb_studio__gumbrecht__05_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb_studio__gumbrecht__04_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
</section>

<section class="{{ page.fileSlug }}__c" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Identity</li>
            <li data-animate="fade-up" data-delay="0.2">Corprate Design</li>
            <li data-animate="fade-up" data-delay="0.3">Graphic Design</li>
          </ul>

        </div>
      </div>

      <div class="item__2" data-animate="fade-up">
        <!-- Slider main container -->
        <div class="swiper cs_sldr gumbrecht_03__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__23_p.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__gumbrecht__24_p.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">

  <!-- Slider main container -->
  <div class="swiper cs_sldr gumbrecht_04__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__09_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__08_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__07_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__06_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>

<section class="cs_hro" data-animate="fade-up">

  <!-- Slider main container -->
  <div class="swiper cs_sldr gumbrecht_05__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__13_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__12_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__11_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__gumbrecht__10_l.jpg", "Karlheinz Gumbrecht - Corporate Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>
