---
date: 2019-10-01
title: Berlin West Clinic
description: Corporate design for the film project "Old Friends".
featuredImage: tghb.studio_kbw__feat_02_p.jpg
tags: ['posts_en', 'identity', 'communication']
slug: kbw
translationKey: kbw

seoTitle: Berlin West Clinic Production Design for Film
seoDescription: Production design and fictional brand identity for the film project "Old Friends".
metaImage: tghb.studio_kbw__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">At the end of 2020, the shooting for the love drama of the ARD Degeto production "Old Friends" took place in Portugal and Berlin. For some scenes in the film, we created an entire corporate design, including a signage system, for the Berlin West Clinic.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__01_l.jpg", "KBW – Branding" %}
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__02_p.gif", "KBW – Branding" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__03_l.svg", "KBW – Branding" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__05_p.jpg", "KBW – Branding" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__04_l.svg", "KBW – Branding" %}
      </div>

      <div class="item__5" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Corporate Design</li>
            <li data-animate="fade-up" data-delay="0.2">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.3">Signage Systems</li>
            <li data-animate="fade-up" data-delay="0.4">Animation</li>
          </ul>

        </div>
      </div>

      <div class="item__6" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__06_p.gif", "KBW – Branding" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__07_l.jpg", "KBW – Branding" %}
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__08_l.svg", "KBW – Branding" %}
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__09_l.jpg", "KBW – Branding" %}
</section>
