---
date: 2016-10-01
title: The first and only
description: Identity and digital presence with e-ticketing for the MVD.
featuredImage: tghb.studio_mvd__feat_01_p.jpg
tags: ['posts_en', 'identity', 'communication', 'digital']
slug: mvd
translationKey: mvd

seoTitle: MVD Brand Identity, Website Development & E-Ticketing
seoDescription: Brand identity, digital presence and website development with e-ticketing for the Moderators Association Germany.
metaImage: tghb.studio_mvd__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">The first association of moderators in Germany has set itself the task of creating a network that promotes further training, quality and exchange among colleagues in the industry and supports its members with advice and action on specialist issues. At the annual moderators' day, members and interested parties come together for various workshops and interesting perspectives and new insights on the subject of moderation.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_mvd__02_l.jpg", "MVD – Branding" %}
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__03_p.jpg", "MVD – Branding" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__04_p.jpg", "MVD – Branding" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Corporate Design</li>
            <li data-animate="fade-up" data-delay="0.2">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.3">UI & UX Design</li>
            <li data-animate="fade-up" data-delay="0.4">Front-End Development</li>
            <li data-animate="fade-up" data-delay="0.5">E-Commerce</li>
          </ul>

        </div>
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__05_p.jpg", "MVD – Branding" %}
      </div>

      <div class="item__5" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__06_p.svg", "MVD – Branding" %}
      </div>

      <div class="item__6" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__07_p.svg", "MVD – Branding" %}
      </div>

      <div class="item__7" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__08_l.svg", "MVD – Branding" %}
      </div>

      <div class="item__8" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__09_l.svg", "MVD – Branding" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_mvd__10_l.jpg", "MVD – Website" %}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">
          <h6 data-animate="fade-up">Clear and flexible.</h6>
          <p data-animate="fade-up">In addition to a serious and friendly corporate design that represents the competence and trustworthiness of the association, the website is the association's most important instrument. Conceptualized on a one-page, it integrates all essential and current topics for the moderator's day at a glance, as well as e-ticket booking with its own e-commerce system for direct registration for the workshops.</p>
        </div>
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__11_p.jpg", "MVD – Website" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__12_p.jpg", "MVD – Website" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_mvd__13_p.jpg", "MVD – Website" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_mvd__14_l.jpg", "MVD – Branding" %}
</section>
