---
date: 2011-12-07
title: Shy’n Dirty
description: Album artwork for musician Barry L'Affair.
featuredImage: tghb.studio__bl_shydirty_feat__01_p.jpg
tags: ['posts_en', 'photography', 'communication']
slug: shyndirty
translationKey: shyndirty

seoTitle: Shy’n Dirty Album Artwork & Visual Communication
seoDescription: Album artwork and visual communication design for musician Barry L’Affair.
metaImage: tghb.studio__bl_shydirty__og_l.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>


        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
  <span class="{{ page.fileSlug }}_stripe"></span>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data-animate="fade-up">
        <p class="intro prjct__ntr nd">With the release of his debut album, Barry L'Affair impressively demonstrates that he has already achieved remarkable artistic maturity at a young age. The talented 24-year-old musician not only presents himself as an impressive vocal talent, but also proves his outstanding songwriting and producing qualities. Having already been responsible for the conception and design of the artist's corporate design, we were even more pleased to be entrusted with the design of the album and the photographic staging of the artist as well.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  <!-- Slider main container -->
  <div class="swiper cs_sldr shyndirty_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb.studio__bl_shydirty__17_l.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio__bl_shydirty__18_l.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio__bl_shydirty__19_l.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio__bl_shydirty__22_l.svg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <!-- Slider main container -->
        <div class="swiper cs_sldr shyndirty_02__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__01_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__02_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__03_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__07_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__08_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__11_p.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__12_p.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__23_l.svg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__5" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__14_p.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__6" data-animate="fade-up">
        <!-- Slider main container -->
        <div class="swiper cs_sldr shyndirty_03__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__05_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__04_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__06_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio__bl_shydirty__09_p.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets"></div>
          </div>

        </div>

      </div>

      <div class="item__7" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__13_p.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__8" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.2">Editorial Design</li>
            <li data-animate="fade-up" data-delay="0.3">Corporate Publishing</li>
            <li data-animate="fade-up" data-delay="0.4">Photography</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio__bl_shydirty__20_l.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr" data-animate="fade-up">
          <p>
            With our creative design, we gave the debut album a memorable visual identity. The powerful combination of a minimalist approach and the rebellious energy of rock 'n' roll gives the album a unique look.
            <br><br>
            A pared-down and clean design concept with purposeful pink accents and a rebellious touch add vibrancy to the artwork, reflecting both the musician's personality and talent as well as the rebellious spirit of rock 'n' roll. We create a design that gives a modern interpretation to this timeless genre.
          </p>
        </div>
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__16_p.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__15_p.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio__bl_shydirty__10_p.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio__bl_shydirty__21_l.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
</section>
