---
date: 2014-09-01
title: Society for News Design
description: Congress design, communication and web presence for the SND Annual Congress in Germany.
featuredImage: tghb_studio__snd_feat__01_p.jpg
tags: ['posts_en', 'digital', 'communication']
slug: snd
translationKey: snd

seoTitle: Society for News Design Congress Branding & Web Presence
seoDescription: Congress branding, communication design and web presence for the Society for News Design annual congress in Germany.
metaImage: tghb_studio__snd__og_l.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>


        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data-animate="fade-up">
        <p class="intro prjct__ntr nd">
          The Society for News Design is an international association of newspaper designers, art directors, infographics, photographers, web designers, students and professors from over 30 countries around the world. The members of the German-speaking group in Germany, Austria and Switzerland are working intensively to expand the successful international network to promote high quality standards in visual journalism. Within the framework of the annual conference, the "Who's Who" of the industry from all over the world meets for intensive workshops, lively exchange and the ceremonial awarding of the best works of the past year.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb_studio__snd__02_l.jpg", "Society for News Design - Congress Design" %}
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">



      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb_studio__snd__03_p.jpg", "Society for News Design - Congress Design" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb_studio__snd__04_p.jpg", "Society for News Design - Congress Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  <!-- Slider main container -->
  <div class="swiper cs_sldr snd_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__05_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__06_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__07_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">

        <!-- Slider main container -->
        <div class="swiper cs_sldr snd_02__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__30_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__23_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__25_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__29_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__26_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>

      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb_studio__snd__08_p.svg", "Society for News Design - Congress Design" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb_studio__snd__09_p.svg", "Society for News Design - Congress Design" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Congress Design</li>
            <li data-animate="fade-up" data-delay="0.2">Communication</li>
            <li data-animate="fade-up" data-delay="0.3">Website</li>
          </ul>

        </div>
      </div>

      <div class="item__5" data-animate="fade-up">
        {% lazypicture "tghb_studio__snd__11_p.jpg", "Society for News Design - Congress Design" %}
      </div>

      <div class="item__6" data-animate="fade-up">
        {% lazypicture "tghb_studio__snd__10_p.jpg", "Society for News Design - Congress Design" %}
      </div>

      <div class="item__7" data-animate="fade-up">
        {% lazypicture "tghb_studio__snd__12_p.jpg", "Society for News Design - Congress Design" %}
      </div>

      <div class="item__8" data-animate="fade-up">

        <!-- Slider main container -->
        <div class="swiper cs_sldr snd_03__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__22_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__28_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__21_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__24_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__27_p.jpg", "Society for News Design - Congress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">

  <!-- Slider main container -->
  <div class="swiper cs_sldr snd_04__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__13_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__14_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__15_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>

<section class="{{ page.fileSlug }}__c" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up">
            As a central instrument and source of information for the congress, we designed a web presence around which the rest of the congress design was developed and assembled. Temporary live feeds, social media streams, an online newspaper, information about the supporting program, the speakers and the congress schedule were combined clearly, prominently and quickly accessible in the online presence. We provided everything from a single source for a successful congress process and a uniform appearance.
          </p>


        </div>

      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">

  <!-- Slider main container -->
  <div class="swiper cs_sldr snd_05__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__18_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__16_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__17_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__19_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__17_l.jpg", "Society for News Design - Congress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>
