{%- include "partials/head.njk" -%}

  {%- include "partials/header.njk" -%}

    <main>

      {{ content | safe }}

    </main>

  {%- include "partials/contact_slim.njk" -%}


{%- include "partials/footer.njk" -%}
