---
date: 2019-10-01
title: Klinikum Berlin West
description: Corporate Design für das Film Projekt „Alte Freunde“.
featuredImage: tghb.studio_kbw__feat_02_p.jpg
tags: ['posts_de', 'identity', 'communication']
slug: kbw
translationKey: kbw

seoTitle: Klinikum Berlin West Production Design für Film
seoDescription: Production Design und fiktive Markenidentität für das Filmprojekt „Alte Freunde“.
metaImage: tghb.studio_kbw__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">Ende 2020 fanden in Portugal und in Berlin die Dreharbeiten für das Liebes-Drama der ARD-Degeto-Produktion „Alte Freunde“ statt. Für einige Szenen im Film entwarfen wir ein ganzes Corporate Design inklusive Beschilderungssystem für das Klinikum Berlin West.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__01.jpg", "KBW – Branding" %}
</section>

<section class="kbw__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__02.gif", "KBW – Branding" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__03.svg", "KBW – Branding" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__05.jpg", "KBW – Branding" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__04.svg", "KBW – Branding" %}
      </div>

      <div class="item__5" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Corporate Design</li>
            <li data-animate="fade-up" data-delay="0.2">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.3">Signage Systems</li>
            <li data-animate="fade-up" data-delay="0.4">Animation</li>
          </ul>

        </div>
      </div>

      <div class="item__6" data-animate="fade-up">
        {% lazypicture "tghb.studio_kbw__06.gif", "KBW – Branding" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__07.jpg", "KBW – Branding" %}
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__08.svg", "KBW – Branding" %}
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_kbw__09.jpg", "KBW – Branding" %}
</section>
