---
date: 2021-12-07
title: Tanz der Dämonen
description: Kommunikation und Idee für das PopUp Party Konzept – Pegasus Club Prag.
featuredImage: tghb.studio_pegasus-club__feat_01.jpg
tags: ['posts_de', 'communication']
slug: pegasus-club
translationKey: pegasus-club

seoTitle: Pegasus Club Prag Eventkommunikation & Editorial Design
seoDescription: Eventkommunikation, Grafikdesign und Editorial Design für das Pop-up-Party-Konzept des Pegasus Club in Prag.
metaImage: tghb.studio_pegasus-club__og_l.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}" data-parallax="0.3">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data-animate="fade-up">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data-animate="fade-up" data-delay="0.3">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_pegasus-club__01.jpg", "Pegasus Club Prag – Editorial Design" %}
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data-animate="fade-up" data-delay="0.2">Nach einem schwierigen Jahr hoffnungsvoll in das neue starten war das Credo der Neujahrsparty im PopUp Club Pegasus Prag. Nach alter Tradition wird mit den alten Dämonen getanzt um sie zu verjagen. Das war uns nicht genug. Jeder sollte seine eigenen Dämonen besitzen und daher entwickelten wir neben der Kommunikation noch zahlreiche kleine Dämonen, die den ganzen Abend in Form von NFT’s ersteigert werden konnten. Selbstverständlich wurden mit dem Erlös gemeinnützige Projekte gegen die Corona Krise unterstützt.</p>
      </div>

    </div>
  </div>
</section>

<section class="{{ page.fileSlug }}__a" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_pegasus-club__02.jpg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_pegasus-club__03.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_pegasus-club__04.jpg", "Pegasus Club Prag – Editorial Design" %}
</section>

<section class="{{ page.fileSlug }}__b" data-animate="fade-up">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1" data-animate="fade-up">
        {% lazypicture "tghb.studio_pegasus-club__05.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__2" data-animate="fade-up">
        {% lazypicture "tghb.studio_pegasus-club__07.jpg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__3" data-animate="fade-up">
        {% lazypicture "tghb.studio_pegasus-club__06.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__4" data-animate="fade-up">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data-animate="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data-animate="fade-up">Kommunikation</li>
            <li data-animate="fade-up" data-delay="0.2">Graphic Design</li>
            <li data-animate="fade-up" data-delay="0.3">Editorial Design</li>
          </ul>

        </div>
      </div>

      <div class="item__5" data-animate="fade-up">
        {% lazypicture "tghb.studio_pegasus-club__08.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__6" data-animate="fade-up">
        {% lazypicture "tghb.studio_pegasus-club__09.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro" data-animate="fade-up">
  {% lazypicture "tghb.studio_pegasus-club__10.jpg", "Pegasus Club Prag – Editorial Design" %}
</section>
