---
date: 2019-02-01
title: Mint & Things
description: Identity, corporate design and interior design for the Café Mint & Things – Frankfurt.
featuredImage: tghb.studio_mintandthings__27.svg
tags: ['posts_en']
---

<!--<div class="mt_logo__1">
  {% lazypicture "tghb.studio_mintandthings__26.svg", "Mint & Things – Logo" %}
</div>

<div class="mt_logo__2">
  {% lazypicture "tghb.studio_mintandthings__26.svg", "Mint & Things – Logo" %}
</div>-->

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }}">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1>{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr">A place to feel good, to forget everyday life for a brief moment, to enjoy the beautiful and small things in life. Mint & Things, the Coffee Cake & Concept Store at the gates of the metropolis of Frankfurt, ensures this balance with its homemade delicacies, excellent coffee and its extraordinary atmosphere. And if you want, the whole thing can also be vegan.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_mintandthings__01.jpg", "Mint & Things – Logo" %}
</section>

<section class="{{ page.fileSlug }}__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_mintandthings__02.svg", "Mint & Things – Logo" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_mintandthings__03.svg", "Mint & Things – Logo" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_mintandthings__04.svg", "Mint & Things – Logo" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb.studio_mintandthings__05.svg", "Mint & Things – Typography" %}
      </div>

      <div class="item__5">
        {% lazypicture "tghb.studio_mintandthings__07.jpg", "Mint & Things – Packaging" %}
      </div>

      <div class="item__6">
        {% lazypicture "tghb.studio_mintandthings__06.svg", "Mint & Things – Colors" %}
      </div>

      <div class="item__7">
        {% lazypicture "tghb.studio_mintandthings__08.jpg", "Mint & Things – Flyer" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_mintandthings__09.jpg", "Mint & Things – Menu" %}
</section>

<section class="{{ page.fileSlug }}__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li>Brand development and strategy</li>
            <li>Corporate Design</li>
            <li>Editorial Design</li>
            <li>Packaging</li>
            <li>Interior design and production</li>
            <li>Wall Design</li>
          </ul>

        </div>
      </div>

      <div class="item__2">
        <!-- Slider main container -->
        <div class="swiper cs_sldr mintandthings_04__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__10.jpg", "Mint & Things – Interior Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__11.jpg", "Mint & Things – Interior Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__12.jpg", "Mint & Things – Interior Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__13.jpg", "Mint & Things – Interior Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__14.jpg", "Mint & Things – Interior Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn neon">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets"></div>
          </div>

        </div>
      </div>

      <div class="item__3">
        <!-- Slider main container -->
        <div class="swiper cs_sldr mintandthings_03__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__16.jpg", "Mint & Things – Wall Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__15.jpg", "Mint & Things – Wall Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__18.jpg", "Mint & Things – Wall Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb.studio_mintandthings__19.jpg", "Mint & Things – Wall Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>
      </div>

      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <p><strong>All from a single source</strong></p>
          <p>We developed a contemporary identity that covered the entire corporate design, interior design and packaging. <br> <br>For the wall design of the restaurant we stood on the ladder ourselves like in the early days and with the help of our in-house interior production we designed, produced and realized the entire interior and the construction of the café.</p>
          <a class="lnk__18" target="_blank" href="https://mintandthings.de">Website
            <svg class="external_btn">
              <use xlink:href="#external_btn"></use>
            </svg></a>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="cs_hro">
  <!-- Slider main container -->
  <div class="swiper cs_sldr mintandthings_02__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_mintandthings__22.jpg", "Mint & Things – Interior Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_mintandthings__21.jpg", "Mint & Things – Interior Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_mintandthings__20.jpg", "Mint & Things – Interior Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>
</section>

<section class="cs_hro">

  <!-- Slider main container -->
  <div class="swiper cs_sldr mintandthings_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_mintandthings__23.jpg", "Mint & Things – Interior Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_mintandthings__24.jpg", "Mint & Things – Interior Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb.studio_mintandthings__25.jpg", "Mint & Things – Interior Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets"></div>
    </div>

  </div>

</section>
