---
date: 2009-07-30
title: Huānyíng
description: Plakat Kampagne für den Ehrengast China der Frankfurter Buchmesse.
featuredImage: tghb.studio_buchmesse__feat.jpg
tags: ['posts_de', 'communication']
slug: buchmesse
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">
  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data="fade-up nd">Seit 1976 begrüßt die Frankfurter Buchmesse in jedem Jahr ein Land oder eine Region als Ehrengast. Der Ehrengastauftritt gibt der Frankfurter Buchmesse jedes Jahr eine neue Prägung. Für den Ehrengast selbst ist der Auftritt von doppelter Bedeutung: Literatur und Kultur des Landes erfahren eine immense Aufmerksamkeit, und die Verlagsbranche des Landes steht im Mittelpunkt auf dem größten internationalen Ereignis für die Buch- und Medienwelt.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_buchmesse__09.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
</section>

<section class="buchmesse__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_buchmesse__02.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__2">
        {% lazypicture "tghb.studio_buchmesse__10.svg", "Frankfurter Buchmesse – Ehrengast China" %}
        {% lazypicture "tghb.studio_buchmesse__11.svg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_buchmesse__12.svg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__4">
        {% lazypicture "tghb.studio_buchmesse__04.svg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

      <div class="item__5">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data="fade-up st">Konzept</li>
            <li data="fade-up nd">Graphic Design</li>
            <li data="fade-up rd">Editorial Design</li>
          </ul>

        </div>

      </div>
      <div class="item__6">
        {% lazypicture "tghb.studio_buchmesse__07.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__7">
        {% lazypicture "tghb.studio_buchmesse__06.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_buchmesse__08.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
</section>

<section class="buchmesse__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_buchmesse__03.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>
      <div class="item__2">
        {% lazypicture "tghb.studio_buchmesse__05.jpg", "Frankfurter Buchmesse – Ehrengast China" %}
      </div>

    </div>
  </div>
</section>
