---
date: 2009-08-21
title: All night long.
description: Kommunikation Spielzeiten für Cocoon Club – Sven Väth.
featuredImage: tghb.studio_cocoonclub__feat.jpg
tags: posts_de
---

<section class="pg_hro cocoon">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd lght">

      <div class="spn2">
        <h1>{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">{{ description }}</p>

        <a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>

      </div>

    </div>

  </div>

</section>

<section>
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr">Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_cocoonclub__01.jpg", "Cocoon Club" %}
</section>

<section class="cocoon__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy"><strong>Leistungen</strong></p>
          <ul>
            <li>Graphic Design</li>
            <li>Editorial Design</li>
            <li>Motion Design</li>
          </ul>

        </div>
      </div>
      <div class="item__2">
        {% lazypicture "tghb.studio_cocoonclub__03.jpg", "Cocoon Club" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_cocoonclub__02.jpg", "Cocoon Club" %}
      </div>
      <div class="item__4">
        {% lazypicture "tghb.studio_cocoonclub__04.jpg", "Cocoon Club" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_cocoonclub__05.jpg", "Cocoon Club" %}
</section>

<section class="cocoon__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_cocoonclub__08.jpg", "Cocoon Club" %}
      </div>
      <div class="item__2">
        {% lazypicture "tghb.studio_cocoonclub__06.jpg", "Cocoon Club" %}
      </div>
      <div class="item__3">
        {% lazypicture "tghb.studio_cocoonclub__07.jpg", "Cocoon Club" %}
      </div>

    </div>
  </div>
</section>
