---
date: 2019-01-01
title: Coffeegasm
description: Interim Kommunikation für das Café Mint & Things – Frankfurt.
featuredImage: tghb.studio_coffeegasm__07.jpg
tags: ['posts_de']
---


<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>


<section class="cs_hro">
  {% lazypicture "tghb.studio_coffeegasm__01.jpg", "Coffeegasm – Posters" %}
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data="fade-up nd">Hier entsteht was Neues und Schönes, ein Ort an dem &bdquo;WorkLife Balance&ldquo; gelebt werden darf. Nämlich ein kleines Café an dem man bei ausgezeichneten Kaffee und anderen Köstlichkeiten den Alltag für einen Moment vergessen darf. Ein Coffee Cake und Concept Store zum Wohlfühlen vor den Toren der Mainmetropole Frankfurt.</p>
      </div>

    </div>
  </div>
</section>

<section class="coffeegasm__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_coffeegasm__02.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_coffeegasm__03.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__3">
        <div class="cs-ntr wrapper_ntr ">

          <p data="fade-up"><strong>Coffegasm</strong></p>
          <p data="fade-up nd">Für die Neueröffnung des Coffee Cake & Concept Stores wurde hinter verschlossenen Türen tüchtig gearbeitet. Mit einer kleinen Kommunikationsstrategie und einer aufmerksamkeitsstarken Gestaltung sorgten wir mit Plakaten und Flyer für die Neuankündigung und sorgten dafür das der neue &bdquo;Place to be&ldquo; besonders ins Auge fällt.</p>
          <div data="fade-up rd">
            <a class="lnk__18" target="_blank" rel="noopener" href="https://mintandthings.de">Website
              <svg class="external_btn">
                <use xlink:href="#external_btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_coffeegasm__04.jpg", "Coffeegasm – Posters" %}
</section>

<section class="coffeegasm__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data="fade-up st">Strategie</li>
            <li data="fade-up nd">Editorial Design</li>
            <li data="fade-up rd">Graphic Design</li>
          </ul>

        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_coffeegasm__05.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_coffeegasm__06.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb.studio_coffeegasm__07.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__5">
        {% lazypicture "tghb.studio_coffeegasm__08.svg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__6">
        {% lazypicture "tghb.studio_coffeegasm__09.svg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__7">
        {% lazypicture "tghb.studio_coffeegasm__10.jpg", "Coffeegasm – Posters" %}
      </div>

      <div class="item__8">
        {% lazypicture "tghb.studio_coffeegasm__11.jpg", "Coffeegasm – Posters" %}
      </div>


    </div>
  </div>
</section>


<section class="cs_hro">
  {% lazypicture "tghb.studio_coffeegasm__12.jpg", "Coffeegasm – Poster" %}
</section>
