---
date: 2017-12-18
title: The Stir-Fry Guru
description: Web-Blog für die Autorin und Wok Spezialistin Grace Young – New York.
featuredImage: tghb.studio_graceyoung__04.jpg
tags: posts_de
---

<section class="pg_hro">
  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1>{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

  <section>
    <div class="cs-ntr wrapper">
      <div class="grd cs_items">

        <div class="cs_items__lft">
          <p class="intro prjct__ntr">Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
        </div>

      </div>
    </div>
  </section>


<section class="cs_hro">
  {% lazypicture "tghb.studio_graceyoung__01.jpg", "Grace Young Website" %}
</section>

<section class="graceyoung__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_graceyoung__08.jpg", "Grace Young Website"%}
      </div>
      <div class="item__2">
        {% lazypicture "tghb.studio_graceyoung__05.jpg", "Grace Young Website"%}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_graceyoung__06.jpg", "Grace Young Website"%}
      </div>
      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy"><strong>Leistungen</strong></p>
          <ul>
            <li>Konzept</li>
            <li>Graphic Design</li>
            <li>UI/UX Design</li>
            <li>Entwicklung</li>
          </ul>

        </div>
      </div>

      <div class="item__5">
        {% lazypicture "tghb.studio_graceyoung__10.jpg", "Grace Young Website"%}
      </div>
      <div class="item__6">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy"><strong>Lorem Ipsum dolor sit</strong></p>
          <p class="intro">Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich.</p>
          <a class="lnk__18" target="_blank" href="https://graceyoung.com/">Website
            <svg class="external_btn">
              <use xlink:href="#external_btn"></use>
            </svg></a>
        </div>
      </div>
      <div class="item__7">
        {% lazypicture "tghb.studio_graceyoung__15.svg", "Grace Young Website"%}
      </div>

      <div class="item__8">
        {% lazypicture "tghb.studio_graceyoung__13.svg", "Grace Young Website"%}
      </div>
      <div class="item__9">
        {% lazypicture "tghb.studio_graceyoung__14.svg", "Grace Young Website"%}
      </div>

      <div class="item__10">
        {% lazypicture "tghb.studio_graceyoung__16.svg", "Grace Young Website"%}
      </div>
      <div class="item__11">
        {% lazypicture "tghb.studio_graceyoung__11.jpg", "Grace Young Website"%}
      </div>

      <div class="item__12">
        {% lazypicture "tghb.studio_graceyoung__02.jpg", "Grace Young Website"%}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_graceyoung__07.jpg", "Grace Young Website"%}
</section>

<section class="graceyoung__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_graceyoung__09.jpg", "Grace Young Website"%}
      </div>
      <div class="item__2">
        {% lazypicture "tghb.studio_graceyoung__04.jpg", "Grace Young Website"%}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_graceyoung__12.jpg", "Grace Young Website"%}
      </div>
      <div class="item__4">
        {% lazypicture "tghb.studio_graceyoung__03.jpg", "Grace Young Website"%}
      </div>

    </div>
  </div>
</section>
