---
date: 2021-12-07
title: Tanz der Dämonen.
description: Kommunikation für das PopUp Party Konzept – Pegasus Club Prag.
featuredImage: tghb.studio_pegasus-club__feat_01.jpg
tags: posts_de
---

<section class="pg_hro pegasus_club">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1>{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_pegasus-club__01.jpg", "Pegasus Club Prag – Editorial Design" %}
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr">Nach einem schwierigen Jahr hoffnungsvoll in das neue starten war das Credo der Neujahrsparty im PopUp Club Pegasus Prag. Nach alter Tradition wird mit den alten Dämonen getanzt um sie zu verjagen. Das war uns nicht genug. Jeder sollte seine eigenen Dämonen besitzen und daher entwickelten wir neben der Kommunikation noch zahlreiche kleine Dämonen, die den ganzen Abend in Form von NFT’s ersteigert werden konnten. Selbstverständlich wurden mit dem Erlös gemeinnützige Projekte gegen die Corona Krise unterstützt.</p>
      </div>

    </div>
  </div>
</section>



<section class="pegasus_club__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_pegasus-club__02.jpg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_pegasus-club__03.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_pegasus-club__04.jpg", "Pegasus Club Prag – Editorial Design" %}
</section>

<section class="pegasus_club__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_pegasus-club__05.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_pegasus-club__07.jpg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_pegasus-club__06.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li>Kommunikation</li>
            <li>Graphic Design</li>
            <li>Editorial Design</li>
          </ul>

        </div>
      </div>

      <div class="item__5">
        {% lazypicture "tghb.studio_pegasus-club__08.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

      <div class="item__6">
        {% lazypicture "tghb.studio_pegasus-club__09.svg", "Pegasus Club Prag – Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_pegasus-club__10.jpg", "Pegasus Club Prag – Editorial Design" %}
</section>
