---
date: 2014-09-01
title: Socitey for News Design
description: Kongress Design, Kommunikation und Webpräsenz für den SND Jahreskongress in Deutschland.
featuredImage: tghb_studio__snd_feat__01.jpg
tags: ['posts_de', 'digital', 'communication']
slug: snd

seoTitle: Socitey for News Design
seoDescription: Kongress Design, Kommunikation und Webpräsenz für den SND Jahreskongress in Deutschland.
metaImage: tghb_studio__snd__og.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>


        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data="fade-up">
        <p class="intro prjct__ntr nd">
          Die Society for News Design ist eine internationale Vereinigung von Zeitungsdesignern, Art Direktoren, Infografikern, Fotografen, Webdesignern, Studenten und Professoren aus über 30 Ländern der Welt. Die Mitglieder der deutschsprachigen Gruppe in Deutschland, Österreich und der Schweiz arbeiten intensiv am Ausbau des erfolgreichen internationalen Netzwerks zur Förderung hoher Qualitätsstandards im visuellen Journalismus. Im Rahmen der jährlich stattfindenden Konferenz trifft sich das “Who is Who” der Branche aus aller Welt zu intensiven Workshops, regem Austausch und der feierlichen Prämierung der besten Arbeiten des vergangenen Jahres.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio__snd__02.jpg", "Society for News Design - Kongress Design" %}
</section>

<section class="{{ page.fileSlug }}__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">



      <div class="item__1">
        {% lazypicture "tghb_studio__snd__03.jpg", "Society for News Design - Kongress Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio__snd__04.jpg", "Society for News Design - Kongress Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  <!-- Slider main container -->
  <div class="swiper cs_sldr snd_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__05.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__06.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__07.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">

        <!-- Slider main container -->
        <div class="swiper cs_sldr snd_02__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__30.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__23.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__25.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__29.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__26.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>

      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio__snd__08.svg", "Society for News Design - Kongress Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio__snd__09.svg", "Society for News Design - Kongress Design" %}
      </div>

      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data="fade-up st">Kongress Design</li>
            <li data="fade-up nd">Kommunikation</li>
            <li data="fade-up rd">Webpräsenz</li>
          </ul>

        </div>
      </div>

      <div class="item__5">
        {% lazypicture "tghb_studio__snd__11.jpg", "Society for News Design - Kongress Design" %}
      </div>

      <div class="item__6">
        {% lazypicture "tghb_studio__snd__10.jpg", "Society for News Design - Kongress Design" %}
      </div>

      <div class="item__7">
        {% lazypicture "tghb_studio__snd__12.jpg", "Society for News Design - Kongress Design" %}
      </div>

      <div class="item__8">

        <!-- Slider main container -->
        <div class="swiper cs_sldr snd_03__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__22.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__28.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__21.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__24.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__snd__27.jpg", "Society for News Design - Kongress Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section class="cs_hro">

  <!-- Slider main container -->
  <div class="swiper cs_sldr snd_04__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__13.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__14.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__15.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>

<section class="{{ page.fileSlug }}__c">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up">
            Als zentrales Instrument und Informationsquelle des Kongresses konzipierten wir eine Webpräsenz, um die herum das weitere Kongressdesign entwickelt und konfektioniert wurde. Temporäre Live-Schaltungen, Social Media Streams, eine Online-Zeitung, Informationen zum Rahmenprogramm, zu den Referenten und zum Kongressablauf wurden übersichtlich, prominent und schnell zugänglich in der Online-Präsenz vereint. Wir lieferten alles aus einer Hand für einen erfolgreichen Kongressablauf und ein einheitliches Erscheinungsbild.
          </p>


        </div>

      </div>

    </div>
  </div>
</section>

<section class="cs_hro">

  <!-- Slider main container -->
  <div class="swiper cs_sldr snd_05__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__18.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__16.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__17.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__19.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__snd__17.jpg", "Society for News Design - Kongress Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>
