---
date: 2019-10-01
title: Klinikum Berlin West
description: Corporate Design für das Film Projekt „Alte Freunde“.
featuredImage: tghb.studio_kbw__feat_01.gif
tags: ['posts_de', 'identity', 'communication']
slug: kbw

seoTitle: Klinikum Berlin West
seoDescription: Corporate Design für das Film Projekt „Alte Freunde“.
metaImage: tghb.studio_kbw__og.png
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft">
        <p class="intro prjct__ntr" data="fade-up nd">Ende 2020 fanden in Portugal und in Berlin die Dreharbeiten für das Liebes-Drama der ARD-Degeto-Produktion „Alte Freunde“ statt. Für einige Szenen im Film entwarfen wir ein ganzes Corporate Design inklusive Beschilderungssystem für das Klinikum Berlin West.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_kbw__01.jpg", "KBW – Branding" %}
</section>

<section class="kbw__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb.studio_kbw__02.gif", "KBW – Branding" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb.studio_kbw__03.svg", "KBW – Branding" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb.studio_kbw__05.jpg", "KBW – Branding" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb.studio_kbw__04.svg", "KBW – Branding" %}
      </div>

      <div class="item__5">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data="fade-up st">Corporate Design</li>
            <li data="fade-up nd">Graphic Design</li>
            <li data="fade-up rd">Signage Systems</li>
            <li data="fade-up frth">Animation</li>
          </ul>

        </div>
      </div>

      <div class="item__6">
        {% lazypicture "tghb.studio_kbw__06.gif", "KBW – Branding" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_kbw__07.jpg", "KBW – Branding" %}
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_kbw__08.svg", "KBW – Branding" %}
</section>

<section class="cs_hro">
  {% lazypicture "tghb.studio_kbw__09.jpg", "KBW – Branding" %}
</section>
