---
date: 2022-06-01
title: EinBlick auf die Kulturgeschichte der Region 
description: Konzept, Corporate Design und Kommunikation für das LVR Landesmuseum Bonn.
featuredImage: tghb_studio_landesmuseum__thumb.svg
tags: ['posts_de', 'identity', 'communication']
slug: landesmuseumbonn

seoTitle: Visuell frisch. Das LandesMuseum –Bonn
seoDescription: Konzept, Corporate Design und Kommunikation für das LVR Landesmuseum Bonn
metaImage: tghb_studio_landesmuseum__OGimg.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>

        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>

</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data="fade-up">
        <p class="intro prjct__ntr nd">
          Das Landesmuseum Bonn stand vor der Herausforderung, seine redaktionellen Materialien zu modernisieren und sein visuelles Erscheinungsbild zu überarbeiten.
          <br><br>
          Unser Leitgedanke war es, ein visuell zeitgemäßes, ansprechendes und informatives Design zu entwickeln, das das reiche historische und kulturelle Erbe des Rheinlandes, wie es in der umfangreichen Sammlung des Landesmuseums Bonn präsentiert wird, attraktiv und wirkungsvoll präsentiert. 
        </p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">

  <!-- Slider main container -->
  <div class="swiper cs_sldr lvr_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__15.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__14.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__23.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>

</section>

<section class="{{ page.fileSlug }}__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb_studio_landesmuseum__20.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__22.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__19.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">Visuell frisch.</h2>
          <p data="fade-up st">
            Das Hauptproblem bestand darin, die veraltete und unattraktive Präsentation der Ausstellungen zu aktualisieren, um die umfangreichen Sammlungen von der Steinzeit bis zur Gegenwart besser zur Geltung zu bringen.
            <br><br>
            Wir entwickelten mehrere Designkonzepte, die die Essenz der historischen Erzählung des Museums einfingen. Jedes Konzept zielte darauf ab, moderne Ästhetik mit historischer Genauigkeit zu verbinden, um ein breiteres Publikum anzusprechen und gleichzeitig die Integrität und Tiefe der historischen Inhalte zu bewahren. </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__21.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>

<section class="{{ page.fileSlug }}__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb_studio_landesmuseum__18.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__17.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__16.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__4">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">{{ translate[locale].services }}</h2>
          <ul>
            <li data="fade-up st">Strategie &amp; Identität</li>
            <li data="fade-up nd">Corporate Design</li>
            <li data="fade-up rd">Graphic Design</li>
            <li data="fade-up frth">Editorial Design</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__25.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>

<section class="{{ page.fileSlug }}__c">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">Verbesserte visuelle Attraktivität.</h2>
          <p data="fade-up st">
            Der modernisierte Auftritt zieht nun auch ein breiteres Publikum an, einschließlich jüngerer Demografien, die möglicherweise weniger an traditionellen Museumspräsentationen und dessen Angebot interessiert waren.
            <br><br>
            Visuell ansprechend kombinieren wir moderne Designelemente mit historischen Themen, was die Materialien attraktiver und ansprechender macht. Ein intuitives Layout und ansprechende Inhalte erleichtern den Besuchern, das Angebot des Museums zu erkunden, was zu einem immersiven und informativeren Erlebnis führt.</p>
        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__03.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__02.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__04.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>

<section class="{{ page.fileSlug }}__d">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        {% lazypicture "tghb_studio_landesmuseum__01.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__05.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__06.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  <!-- Slider main container -->
  <div class="swiper cs_sldr lvr_02__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__07.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio_landesmuseum__08.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets item__2"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__e">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr ">

          <h2 class="h6" data="fade-up">Stärkung der Markenidentität.</h2>
          <p data="fade-up st">
            Ein zeitgemäßes visuelles Erscheinungsbild stärkt die Markenidentität des Landesmuseums Bonn und lässt es als dynamische und zukunftsorientierte Institution positionieren, während seine historischen Wurzeln gewürdigt werden.
            <br><br>
            Eine zugänglichere und ansprechendere Gestaltung der Inhalte des Museums samt seiner neuen redaktionellen Materialien, verbessern den Bildungseffekt und hilft den Besuchern ein tieferes Verständnis und eine größere Wertschätzung für die Geschichte des Rheinlandes zu entwickeln.</p>
        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio_landesmuseum__13.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio_landesmuseum__11.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb_studio_landesmuseum__10.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

      <div class="item__5">
        {% lazypicture "tghb_studio_landesmuseum__12.svg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio_landesmuseum__09.jpg", "LVR Landesmuseum Bonn - Corporate Design & Editorial Design" %}
</section>