---
date: 2011-12-07
title: Shy’n Dirty
description: Album Artwork für Musiker Barry L’Affair.
featuredImage: tghb_studio__bl_shydirty_feat__01.jpg
tags: ['posts_de', 'photography', 'communication']
slug: shyndirty

seoTitle: Shy’n Dirty
seoDescription: Album Artwork für Musiker Barry L’Affair.
metaImage: tghb_studio__bl_shydirty__og.jpg
---

<section class="pg_hro {{ page.fileSlug }} {{ tags | join(' ') }} parallax">

  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2">
        <h1 data="fade-up st">{{ title }}.</h1>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro" data="fade-up rd">{{ description }}</p>


        {#<a class="lnk__18" href="/{{ locale }}/index.html">
          <svg class="download_btn">
            <use xlink:href="#download_btn"></use>
          </svg> {{ translate[locale].projectPDF}}</a>#}

      </div>

    </div>

  </div>
  <span class="{{ page.fileSlug }}_stripe"></span>
</section>

<section class="wht">
  <div class="cs-ntr wrapper">
    <div class="grd cs_items">

      <div class="cs_items__lft" data="fade-up">
        <p class="intro prjct__ntr nd">Mit der Veröffentlichung seines Debütalbums zeigt Barry L’Affair eindrucksvoll, dass er bereits in jungen Jahren eine bemerkenswerte künstlerische Reife erreicht hat. Der talentierte 24-jährige Musiker präsentiert sich nicht nur als beeindruckendes Gesangstalent, sondern beweist auch seine herausragenden Songwriter- und Produzentenqualitäten. Nachdem wir bereits für die Konzeption und Gestaltung des Corporate Designs des Künstlers verantwortlich waren, hat es uns umso mehr gefreut, dass wir auch mit der Gestaltung des Albums und der fotografischen Inszenierung des Künstlers betraut wurden.</p>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  <!-- Slider main container -->
  <div class="swiper cs_sldr shyndirty_01__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__bl_shydirty__17.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__bl_shydirty__18.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__bl_shydirty__19.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper "tghb_studio__bl_shydirty__22.svg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

    <div class="cs_sldr__pgntn">
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets"></div>
    </div>

  </div>
</section>

<section class="{{ page.fileSlug }}__a">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <!-- Slider main container -->
        <div class="swiper cs_sldr shyndirty_02__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__01.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__02.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__03.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__07.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__08.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets item__2"></div>
          </div>

        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio__bl_shydirty__11.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio__bl_shydirty__12.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb_studio__bl_shydirty__23.svg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__5">
        {% lazypicture "tghb_studio__bl_shydirty__14.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__6">
        <!-- Slider main container -->
        <div class="swiper cs_sldr shyndirty_03__sldr">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__05.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__04.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__06.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

            <div class="swiper-slide">
              {% lazyswiper "tghb_studio__bl_shydirty__09.jpg", "Barry L'Affair - Photography Shy’n Dirty – Graphic Design" %}
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>

          </div>

          <div class="cs_sldr__pgntn">
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-bullets"></div>
          </div>

        </div>

      </div>

      <div class="item__7">
        {% lazypicture "tghb_studio__bl_shydirty__13.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__8">
        <div class="cs-ntr wrapper_ntr ">

          <p class="copy" data="fade-up"><strong>{{ translate[locale].services }}</strong></p>
          <ul>
            <li data="fade-up st">Graphic Design</li>
            <li data="fade-up nd">Editorial Design</li>
            <li data="fade-up rd">Corporate Publishing</li>
            <li data="fade-up frth">Photography</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio__bl_shydirty__20.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
</section>

<section class="{{ page.fileSlug }}__b">
  <div class="wrapper_w_img">
    <div class="grd cs_items">

      <div class="item__1">
        <div class="cs-ntr wrapper_ntr" data="fade-up">
          <p>
            Mit unserem kreativen Design haben wir dem Debütalbum eine einprägsame visuelle Identität verliehen. Die kraftvolle Kombination aus minimalistischem Ansatz und der rebellischen Energie des Rock 'n' Roll verleiht dem Album einen einzigartigen Look.
            <br><br>
            Ein reduziertes und klares Designkonzept mit gezielten pinkfarbenen Akzenten und einer rebellischen Note verleihen dem Artwork zusätzliche Lebendigkeit und spiegeln sowohl die Persönlichkeit und das Talent des Musikers als auch den rebellischen Geist des Rock 'n' Roll wider. Wir schaffen ein Design, das dieses zeitlose Genre modern interpretiert.
          </p>
        </div>
      </div>

      <div class="item__2">
        {% lazypicture "tghb_studio__bl_shydirty__16.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__3">
        {% lazypicture "tghb_studio__bl_shydirty__15.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

      <div class="item__4">
        {% lazypicture "tghb_studio__bl_shydirty__10.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
      </div>

    </div>
  </div>
</section>

<section class="cs_hro">
  {% lazypicture "tghb_studio__bl_shydirty__21.jpg", "Barry L'Affair - Albumartwork Shy’n Dirty – Graphic Design" %}
</section>
