---
title: Services

translationKey: "services"

seoTitle: Branding, Web Design, Production Design & Development Services
seoDescription: "Branding, web design, production design for film and custom website development services from Cologne and Frankfurt: strategy, identity, UX/UI and digital implementation."
metaImage: tghb.studio_services__02_p.jpg
---
<section class="pg_hro" data-parallax="0.3">
  <div class="wrapper">

    <div class="sctn__hdr __50 grd">

      <div class="spn2" data-animate="fade-up">
        <h1>Branding, Design and Web Development Services.</h1>
      </div>

      <div class="sbln_lnk spn2" data-animate="fade-up" data-delay="0.2">

        <p class="intro">From brand strategy and corporate design to UX/UI and front-end development, we deliver holistic creative services from a single source.</p>

      </div>

  </div>
</section>
<section class="srvcs__1 wht">
  <div class="wrapper_w_img grd">

    <div class="item__1" data-animate="fade-up">
      {% lazypicture "tghb.studio_services__01_p.jpg", "Identity & Strategy"%}
    </div>

    <div class="srvc__item item__2">
      <h2 data-animate="fade-up">Identity & Strategy</h2>
      <ul class="srvc_list" data-animate="fade-up" data-delay="0.2">
        <li class="srvc_list__item">Brand development</li>
        <li class="srvc_list__item">Brand management</li>
        <li class="srvc_list__item">Corporate Identity</li>
        <li class="srvc_list__item">Corporate Design</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

    <div class="item__3" data-animate="fade-up">
      {% lazypicture "tghb.studio_services__02_p.jpg", "Communication & Design"%}
    </div>

    <div class="srvc__item item__4">
      <h2 data-animate="fade-up">Communication & Design</h2>
      <ul class="srvc_list" data-animate="fade-up" data-delay="0.2">
        <li class="srvc_list__item">Campaign</li>
        <li class="srvc_list__item">Content</li>
        <li class="srvc_list__item">Corporate Publishing</li>
        <li class="srvc_list__item">Packaging & POS</li>
        <li class="srvc_list__item">Production Design (Film)</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

  </div>
</section>

<section class="hro __100">
  {% lazypicture "tghb.studio_image__01_l.jpg", "TheGrandHeavyBold Studio Tools"%}
</section>

<section class="srvcs__2">
  <div class="wrapper_w_img grd">

    <div class="item__1" data-animate="fade-up">
      {% lazypicture "tghb.studio_services__06_p.jpg", "Web & Digital"%}
    </div>

    <div class="srvc__item item__2">
      <h2 data-animate="fade-up">Web & Digital</h2>
      <ul class="srvc_list" data-animate="fade-up" data-delay="0.2">
        <li class="srvc_list__item">Websites</li>
        <li class="srvc_list__item">Social Media</li>
        <li class="srvc_list__item">SEM (SEO, SEA)</li>
        <li class="srvc_list__item">Interfaces (UI/UX)</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

    <div class="item__3">
      {% lazypicture "tghb.studio_services__07_p.jpg", "Interior & Production"%}
    </div>

    <div class="srvc__item item__4">
      <h2 data-animate="fade-up">Interior & Production</h2>
      <ul class="srvc_list" data-animate="fade-up" data-delay="0.2">
        <li class="srvc_list__item">Planning</li>
        <li class="srvc_list__item">Development</li>
        <li class="srvc_list__item">Design</li>
        <li class="srvc_list__item">Realization</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

  </div>
</section>

<section class="hro __100">
  {% lazypicture "tghb.studio_image__02_l.jpg", "Interior Moodboard"%}
</section>

<section class="srvcs__3">
  <div class="wrapper_w_img grd">

    <div class="item__1" data-animate="fade-up">
      {% lazypicture "tghb.studio_services__03_p.jpg", "Photography & Motion"%}
    </div>

    <div class="srvc__item item__2">
      <h2 data-animate="fade-up">Photography & Motion</h2>
      <ul class="srvc_list" data-animate="fade-up" data-delay="0.2">
        <li class="srvc_list__item">Image Photography</li>
        <li class="srvc_list__item">TV Spots & Branded Films</li>
        <li class="srvc_list__item">Social Media Videos</li>
        <li class="srvc_list__item">3D & Animations</li>
      </ul>
      <!-- <a class="big__link" href="#">A main link.</a> -->
    </div>

  </div>
</section>

{%- include "partials/qts_slider_en.njk" -%}

{%- include "partials/newsletter.njk" -%}

{%- include "partials/contact.njk" -%}
