---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  {%- if item.url and item.url != "/sitemap.xml" and "/admin" not in item.url and item.data and (not item.data.robots or "noindex" not in item.data.robots) %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {%- if item.date %}
    <lastmod>{{ item.date | date("YYYY-MM-DD") }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
