---
permalink: /{{ locale }}/imprint/index.html
translationKey: "Imprint"
---

<main>
  <div class="wrapper">

    <h5>Site Notice</h5>

    <h6>Information pursuant to Sect. 5 German Telemedia Act (TMG)</h6>
    <p>TheGrandHeavyBold GbR<br />
    Herzbergstraße 4<br />
    61138 Niederdorfelden</p>

    <p><strong>Represented by:</strong><br />
    Christian Kriegsheim & Tomas Nims-Matousek</p>

    <br>

    <h6>Contact</h6>
    <p>Phone: +49 (0)6101 956 44 52<br />
    E-mail: mail@tghb.studio</p>

    <br>

    <h6>VAT ID</h6>
    <p>Sales tax identification number according to Sect. 27 a of the Sales Tax Law:<br />
    DE 293 936 190</p>

    <br>

    <h6>Information regarding professional liability insurance</h6>
    <p><strong>Name and registered office of the insurer:</strong><br />
    Hiscox SA<br />
    Niederlassung für Deutschland<br />
    Arnulfstraße 31<br />
    80636 München</p>
    <p><strong>Scope of insurance:</strong><br />Deutschland, Europa, USA, Kanada</p>

    <br>

    <h6>EU dispute resolution</h6>
    <p>The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Our e-mail address can be found above in the site notice.</p>

    <br>

    <h6>Dispute resolution proceedings in front of a consumer arbitration board</h6>
    <p>We are not willing or obliged to participate in dispute resolution proceedings in front of a consumer arbitration board.</p>

  </div>
</main>
