---
permalink: /{{ locale }}/index.html
translationKey: "home"
---

<section class="frnt_hro parallax">

  <div class="wrapper">

    <h2>Strategy & Identity, <br>Design & Realization.</h2>

  </div>

    {%- include "partials/hero_slider.njk" -%}

</section>

<section class="frnt_sctn wht">

  <div class="wrapper">

    <div class="sctn_ttl">{{ translate[locale].services }}</div>

    <div class="sctn__hdr grd spcr">

      <div class="spn2">
        <h2>Brand experiences & products that excite and inspire.</h2>
      </div>

      <div class="sbln_lnk spn2">

        <p class="intro">Cross-media brand communication - we bring content to life.</p>

        <div class="teaser__links">

          <a class="lnk__18 hypr" href="/{{ locale }}/services/index.html">
            <svg class="hyperlink_btn">
              <use xlink:href="#hyperlink_btn"></use>
            </svg> All Services</a>

          <a class="lnk__18 hypr" href="/{{ locale }}/studio/index.html">
            <svg class="hyperlink_btn">
              <use xlink:href="#hyperlink_btn"></use>
            </svg> More about us</a>

        </div>


      </div>

    </div>

    <div class="frnt_srvcs__clmns">
      <div class="grd">
        <div class="clmn__1">
          <h6>Identity & Strategy</h6>
          <p>
            At the beginning of a project, we jointly explore the purpose, significance and relationships of your company in an open dialogue. We reveal what makes your company, your product unique and create a distinctive and clear identity. Based on this, we develop a communication strategy for sustainable success.
          </p>
        </div>

        <div class="clmn__2">
          <h6>Layout</h6>
          <p>
            We bring your brand's visual attitude to life. Cross-media, in real or virtual space, and based on a well-founded brand strategy. We develop the necessary characteristic appearance of your brand and make the value of your brand visible in order to ensure your recognition and positive perception.
          </p>
        </div>

        <div class="clmn__3">
          <h6>Realization</h6>
          <p>
            The measure of our work is the quality of your interaction. In a fast and complex world, we create simple and intelligent solutions. Whether analog or digital, we translate abstract content with unconventional ideas into emotional design and make your brand visible and tangible and ensure an unmistakable brand experience at the cutting edge.
          </p>
        </div>
      </div>

    </div>

  </div>

</section>

<section class="frnt_sctn prjcts drk">

  <div class="wrapper">

    <div class="sctn_ttl">{{ translate[locale].projects }}</div>

    <div class="sctn__hdr grd spcr">

      <div class="spn2">
        <h2>Strategic, progressive and sustainable.</h2>
      </div>

      <div class="ntr_lnk spn2">

        <p class="intro">We understand communication holistically and deliver everything from a single source.</p>

        {#<a class="lnk__18" href="/{{ locale }}/{{ navigation[locale].projects }}">
          <svg class="hyperlink_btn">
            <use xlink:href="#hyperlink_btn"></use>
          </svg> {{ translate[locale].all_projects }}</a>#}

      </div>

    </div>


    <div class="frnt_prjcts">

      <div class="tsr">

        {% for post in collections.posts_en.slice(0, 6) | reverse %}
          {% if loop.first %}<ul class="grd">{% endif %}
            {% set counter = ( counter | default(0) ) + 1 %}
            <li class="item__{{ counter }}">

              <article>
                <a href="{{ post.url }}">
                <figure>

                  <picture class="lazy lazy-initial">

                    <source srcset="/assets/img/tiny/{{ post.data.featuredImage }}" media="(min-width: 1025px)">
                    <source srcset="/assets/img/tiny/{{ post.data.featuredImage }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
                    <source srcset="/assets/img/tiny/{{ post.data.featuredImage }}?nf_resize=fit&w=768" media="(min-width: 481px)">

                    <img src="/assets/img/tiny/{{ post.data.featuredImage }}?nf_resize=fit&w=480" alt="{{ post.data.title }} – {{ post.data.description }}" />

                  </picture>


                  <figcaption>

                    <div class="teaser_intro wrapper_ntr">

                      <h2 class="ease_in">{{ post.data.title }}</h2>
                      <h5 class="ease_in">{{ post.data.description }}</h5>
                      <svg class="teaser_btn">
                        <use xlink:href="#teaser_btn"></use>
                      </svg>

                    </div>

                  </figcaption>

                </figure>
              </a>
              </article>

            </li>

          {% if loop.last %}</ul>{% endif %}
        {% endfor %}

      </div>

    </div>

    {#<a class="big__link cntr" href="/{{ locale }}/{{ navigation[locale].projects }}">{{ translate[locale].all_projects }}</a>#}

  </div>

</section>

<section class="frnt_sctn qts">

  <div class="wrapper grd">

    <div class="sctn_ttl">{{ translate[locale].attitude }}</div>
    <!-- Slider main container -->
    <div class="swiper-container qts_swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for quotes in quoteList.en %}

        <div class="swiper-slide"><h1>{{ quotes }}</h1></div>

        {% endfor %}

      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets"></div>
    </div>

  </div>

</section>

<section class="ppl">

  {%- include "partials/team_slider.njk" -%}

</section>

{%- include "partials/newsletter.njk" -%}

{%- include "partials/contact.njk" -%}
