<section class="frnt_sctn cntct drk">

  <div class="wrapper grd">

    <div class="sctn_ttl" data-animate="fade-up">{{ i18n[locale].ui.contact }}</div>

    <div class="frnt_sctn__hdr">

      <h1 data-animate="fade-up" data-delay="0.2">{{ i18n[locale].ui.hello }} <a href="mailto:mail@tghb.studio">{{ i18n[locale].ui.newClient }}</a></h1>

      <h1 data-animate="fade-up" data-delay="0.3">{{ i18n[locale].ui.hello }} <a href="mailto:hr@tghb.studio">{{ i18n[locale].ui.newColleague }}</a></h1>

    </div>

  </div>

</section>
