<section class="frnt_sctn cntct_slm blk">

  <div class="wrapper grd">

    <div class="sctn_ttl" data="fade-up">{{ translate[locale].contact }}</div>

    <div class="frnt_sctn__hdr grd">

      <h4 class="cntct_slim__item" data="fade-up st"><a href="mailto:{{ contact[locale].email }}">E-Mail</a></h1>

      <h4 class="cntct_slim__item" data="fade-up nd"><a href="tel:">{{ contact[locale].main_phone }}</a></h1>

    </div>

  </div>

</section>
