<section class="frnt_sctn cntct drk">

  <div class="wrapper grd">

    <div class="sctn_ttl" data="fade-up">{{ translate[locale].contact }}</div>

    <div class="frnt_sctn__hdr">

      <h1 data="fade-up st">{{ translate[locale].hello }} <a href="mailto:mail@tghb.studio">{{ translate[locale].newClient }}</a></h1>

      <h1 data="fade-up nd">{{ translate[locale].hello }} <a href="mailto:hr@tghb.studio">{{ translate[locale].newColleague }}</a></h1>

    </div>

  </div>

</section>
