<footer>

  <h1>Bold never Regular.</h1>

  <div class="footer__info">

    <div class="footer__adress">
      {{ footer[locale].ffm_addressTitle }}
      {{ footer[locale].ffm_addressStreet }} {{ footer[locale].ffm_addressNumber }}
      {{ footer[locale].ffm_addressPostcode }} {{ footer[locale].ffm_addressCity }}
      <a href="tel:{{ footer[locale].ffm_phone }}">{{ footer[locale].ffm_phone }}</a>
    </div>

    <div class="footer__adress">
      {{ footer[locale].cgn_addressTitle }}
      {{ footer[locale].cgn_addressStreet }} {{ footer[locale].cgn_addressNumber }}
      {{ footer[locale].cgn_addressPostcode }} {{ footer[locale].cgn_addressCity }}
      <a href="tel:{{ footer[locale].cgn_phone }}">{{ footer[locale].cgn_phone }}</a>
    </div>

    <div class="footer__links">
      <a href="">{{ footer[locale].link_BusinessTerms }}</a>
      <a href="">{{ footer[locale].link_Imprint }}</a>
      <a href="">{{ footer[locale].link_PrivacyPolicy }}</a>
      <span>{{ footer[locale].copyrights }}</span>
    </div>

    <div class="footer__social">
      <a href="">LinkedIn</a>
      <a href="">Xing</a>
    </div>

    <div class="footer__social">
      <a href="">Instagram</a>
      <a href="">Facebook</a>
      <a href="">Twitter</a>
      <a href="">Bechance</a>
    </div>

  </div>

</footer>
