    <footer>

      <div class="wrapper">

        <h4 data-animate="fade-up">Bold <span>never Regular.</span></h4>

        <div class="footer__info grd">

          <ul class="footer__adress" data-animate="fade-up" data-start="top bottom" data-end="top 85%">
            <li><strong>{{ i18n[locale].footer.locations.ffm.title }}</strong></li>
            <li>{{ i18n[locale].footer.locations.ffm.street }} {{ i18n[locale].footer.locations.ffm.number }}</li>
            <li>{{ i18n[locale].footer.locations.ffm.postcode }} {{ i18n[locale].footer.locations.ffm.city }}</li>
            <li><a href="tel:{{ i18n[locale].footer.locations.ffm.phone }}">{{ i18n[locale].footer.locations.ffm.phone }}</a></li>
          </ul>

          <ul class="footer__adress" data-animate="fade-up" data-start="top bottom" data-end="top 85%">
            <li><strong>{{ i18n[locale].footer.locations.cgn.title }}</strong></li>
            <li>{{ i18n[locale].footer.locations.cgn.street }} {{ i18n[locale].footer.locations.cgn.number }}</li>
            <li>{{ i18n[locale].footer.locations.cgn.postcode }} {{ i18n[locale].footer.locations.cgn.city }}</li>
            <li><a href="tel:{{ i18n[locale].footer.locations.cgn.phone }}">{{ i18n[locale].footer.locations.cgn.phone }}</a></li>
          </ul>

          <ul class="footer__links legal" data-animate="fade-up" data-start="top bottom" data-end="top 85%">
            <li>
              <a class="cps"
                href="{{ 'imprint' | nav_url(locale) }}">
                {{ i18n[locale].footer.links.imprint }}
              </a>
            </li>

            <li>
              <a class="cps"
                href="{{ 'privacy' | nav_url(locale) }}">
                {{ i18n[locale].footer.links.privacy }}
              </a>
            </li>

            <li>
              <span class="copyrights">
                ©{% year %} {{ site.name }}
              </span>
            </li>
          </ul>


          <ul class="footer__social" data-animate="fade-up" data-start="top bottom" data-end="top 85%">
            <li><a href="https://www.linkedin.com/company/thegrandheavybold/" target="_blank" rel="noopener" >LinkedIn</a></li>
          </ul>

          <ul class="footer__social" data-animate="fade-up" data-start="top bottom" data-end="top 85%">
            <li><a href="https://instagram.com/tghb.studio" target="_blank" rel="noopener">Instagram</a></li>
            <li><a href="https://www.facebook.com/tghb.studio/" target="_blank" rel="noopener">Facebook</a></li>
            <li><a href="https://twitter.com/tghbstudio/" target="_blank" rel="noopener">Twitter</a></li>
            <li><a href="https://www.behance.net/TheGrandHeavyBold" target="_blank" rel="noopener">Behance</a></li>
          </ul>

        </div>

      </div>

    </footer>

  {% set script = vite["js/main.js"] %}
  {% if not isServeMode and script and script.file %}
    <script type="module" src="/{{ script.file }}"></script>
  {% endif %}

    <div class="c-cursor">
      <span class="c-cursor__dot"></span>
      <span class="c-cursor__msg">
        <svg class="teaser_btn">
          <use xlink:href="#teaser_btn"></use>
        </svg>
      </span>
    </div><!-- custom_cursor -->

  </body>
</html>
