<header>

  <div class="wrapper">

    <div class="header_bar">

      <div class="header_bar__left">

        <nav id="site-navigation" class="main-navigation">

          <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false" aria-label="Open the main menu">
            <div class="hamburger">
              <span></span>
            </div>
          </button>

          <div class="menu">

            <div class="wrapper">

              <div class="menu__content">

                <div class="menu__items">

                  <ul class="menu__links">
                    <li data="fade-up st"><a href="/{{ locale }}/{{ navigation[locale].projects }}">{{ navigation[locale].projects }}</a></li>
                    <li data="fade-up nd"><a href="/{{ locale }}/{{ navigation[locale].services }}">{{ navigation[locale].services }}</a></li>
                    <li data="fade-up rd"><a href="/{{ locale }}/studio/index.html">Studio</a></li>
                    {#<li><a href="#">#</a></li>#}
                  </ul>

                  {%- include "partials/language_switcher.njk" -%}

                </div><!-- .menu__items -->

                <div class="menu__info">

                  <ul class="footer__adress" data="fade-up">
                    <li><strong>{{ footer[locale].ffm_addressTitle }}</strong></li>
                    <li>{{ footer[locale].ffm_addressStreet }} {{ footer[locale].ffm_addressNumber }}</li>
                    <li>{{ footer[locale].ffm_addressPostcode }} {{ footer[locale].ffm_addressCity }}</li>
                    <li><a href="tel:{{ footer[locale].ffm_phone }}">{{ footer[locale].ffm_phone }}</a></li>
                  </ul>

                  <ul class="footer__adress" data="fade-up st">
                    <li><strong>{{ footer[locale].cgn_addressTitle }}</strong></li>
                    <li>{{ footer[locale].cgn_addressStreet }} {{ footer[locale].cgn_addressNumber }}</li>
                    <li>{{ footer[locale].cgn_addressPostcode }} {{ footer[locale].cgn_addressCity }}</li>
                    <li><a href="tel:{{ footer[locale].cgn_phone }}">{{ footer[locale].cgn_phone }}</a></li>
                  </ul>

                  <ul class="footer__social" data="fade-up nd">
                    <li><a href="https://www.linkedin.com/company/thegrandheavybold/" target="_blank" rel="noopener" >LinkedIn</a></li>
                    <li><a href="https://www.xing.com/profile/Christian_Kriegsheim" target="_blank" rel="noopener">Xing</a></li>
                  </ul>

                  <ul class="footer__social" data="fade-up rd">
                    <li><a href="https://instagram.com/tghb.studio" target="_blank" rel="noopener">Instagram</a></li>
                    <li><a href="https://www.facebook.com/tghb.studio/" target="_blank" rel="noopener">Facebook</a></li>
                    <li><a href="https://twitter.com/tghbstudio/" target="_blank" rel="noopener">Twitter</a></li>
                    <li><a href="https://www.behance.net/TheGrandHeavyBold" target="_blank" rel="noopener">Bechance</a></li>
                  </ul>

                  <ul class="footer__links legal" data="fade-up nd"><!--
                    <li><a class="llcps" href="/{{ locale}}/{{ footer[locale].link_BusinessTerms }}">{{ footer[locale].link_BusinessTerms }}</a></li>
                    <li><a class="cps" href="/{{ locale}}/{{ footer[locale].link_Imprint }}">{{ footer[locale].link_Imprint }}</a></li>
                    <li><a class="cps" href="/{{ locale}}/{{ footer[locale].link_PrivacyPolicy }}">{{ footer[locale].link_PrivacyPolicy }}</a></li>
                    <li><span class="copyrights">{{ footer[locale].copyrights }}</span></li>-->
                  </ul>

                </div><!-- .menu__info -->

              </div><!-- .menu__content -->

            </div><!-- .wrapper -->

          </div><!-- .menu -->

        </nav><!-- #site-navigation -->

        <h6 class="tghb_subline">{{ header[locale].tghb_name }} <span>{{ header[locale].tghb_subline }}</span></h6>

      </div><!-- .header_bar__left -->

      <div class="site-branding">
  			<a id="logo" href="/{{ locale }}/index.html" rel="home" title="TheGrandHeavyBold Studio" aria-label="This is the Logo of TheGrandHeavyBold Studio">
  				<svg class="tghb_logo" alt="TheGrandHeavyBold Studio">
  					<use xlink:href="#tghb_logo"></use>
  				</svg>
  			</a>
  		</div><!-- .site-branding -->

    </div><!-- .header_bar -->

  </div><!-- .wrapper -->

</header>
