<div class="hero_slider">

  <!-- Slider main container -->
  <div class="swiper hro__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper  "tghb.studio_hero__01.jpg", "TheGrandHeavyBold – Emporium" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "tghb.studio_hero__03.jpg", "TheGrandHeavyBold – Frankfurter Buchmesse" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "tghb.studio_hero__04.jpg", "TheGrandHeavyBold – Best Shop Berlin" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "tghb.studio_hero__05.jpg", "TheGrandHeavyBold – tollkühnmedia" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "tghb.studio_hero__06.jpg", "TheGrandHeavyBold – Mint&Things" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "tghb.studio_hero__07.jpg", "TheGrandHeavyBold – SciTech" %}
        <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>

    </div>

  </div>

</div>
