<!-- Slider main container -->
<div class="swiper-container hero_slider">

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">{% picture "tghb.studio_hero__01.jpg", "TheGrandHeavyBold – Emporium" %}</div>
    <div class="swiper-slide">{% picture "tghb.studio_hero__02.jpg", "TheGrandHeavyBold – xcllnt.shop" %}</div>
    <div class="swiper-slide">{% picture "tghb.studio_hero__03.jpg", "TheGrandHeavyBold | Frankfurter Buchmesse" %}</div>
    <div class="swiper-slide">{% picture "tghb.studio_hero__04.jpg", "TheGrandHeavyBold | Best Shop Berlin" %}</div>
    <div class="swiper-slide">{% picture "tghb.studio_hero__05.jpg", "TheGrandHeavyBold | Tollkühnmedia" %}</div>
    <div class="swiper-slide">{% picture "tghb.studio_hero__06.jpg", "TheGrandHeavyBold | mint&things" %}</div>
    <div class="swiper-slide">{% picture "tghb.studio_hero__07.jpg", "TheGrandHeavyBold | scitech" %}</div>
  </div>

</div>
