<div class="hero_slider">

  <!-- Slider main container -->
  <div class="swiper-container hro__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">{% lazyswiper "tghb.studio_hero__01.webp", "TheGrandHeavyBold – Emporium" %}</div>
      <div class="swiper-slide">{% lazyswiper "tghb.studio_hero__02.webp", "TheGrandHeavyBold – xcllnt.shop" %}</div>
      <div class="swiper-slide">{% lazyswiper "tghb.studio_hero__03.webp", "TheGrandHeavyBold – Frankfurter Buchmesse" %}</div>
      <div class="swiper-slide">{% lazyswiper "tghb.studio_hero__04.webp", "TheGrandHeavyBold – Best Shop Berlin" %}</div>
      <div class="swiper-slide">{% lazyswiper "tghb.studio_hero__05.webp", "TheGrandHeavyBold – tollkühnmedia" %}</div>
      <div class="swiper-slide">{% lazyswiper "tghb.studio_hero__06.webp", "TheGrandHeavyBold – Mint&Things" %}</div>
      <div class="swiper-slide">{% lazyswiper "tghb.studio_hero__07.webp", "TheGrandHeavyBold – SciTech" %}</div>
    </div>

  </div>

</div>
