{%- for lgg in site.languages -%}
  {%- if loop.first -%}<ul class="lg_nav">{%- endif -%}

  {# Default URL korrekt setzen #}
  {%- if lgg.code == "en" -%}
    {%- set translatedUrl = "/" -%}
  {%- else -%}
    {%- set translatedUrl = "/" + lgg.code + "/" -%}
  {%- endif -%}

  {%- set activeClass = "is-active" if lgg.code == locale else "" -%}

  {%- for item in collections.all -%}
    {%- if item.data.translationKey == translationKey 
          and item.data.locale == lgg.code -%}
      {%- set translatedUrl = item.url -%}
    {%- endif -%}
  {%- endfor -%}

  <li class="lg_nav__item" data-animate="fade-up">
    <a class="lg_nav__link {{ activeClass }}" href="{{ translatedUrl }}">
      {{ lgg.label }}
    </a>
  </li>

  {%- if loop.last -%}</ul>{%- endif -%}
{%- endfor -%}
