<section class="frnt_sctn nwslttr">

  <div class="wrapper grd">

    <div class="sctn_ttl" data="fade-up">Newsletter</div>

    <div class="frnt_sctn__hdr">

      <h1 data="fade-up st">{{ translate[locale].newsletterHead }}</h1>
      <h1 data="fade-up nd">{{ translate[locale].newsletterAction }} <a href="/{{ locale }}/newsletter/index.html">Newsletter</a></h1>

    </div>


  </div>

</section>
