<section class="frnt_sctn nwslttr">

  <div class="wrapper grd">

    <div class="sctn_ttl">Newsletter</div>

    <div class="frnt_sctn__hdr">

      <h1>{{ translate[locale].newsletterHead }}</h1>
      <h1>{{ translate[locale].newsletterAction }} <a href="#">Newsletter</a></h1>

    </div>


  </div>

</section>
