<section class="frnt_sctn qts c-nvrtd">

  <div class="wrapper grd">

    <div class="sctn_ttl" data-animate="fade-up">{{ i18n[locale].ui.attitude }}</div>
    <!-- Slider main container -->
    <div class="swiper-container qts_swiper" data-slider data-animate="fade-up" data-delay="0.2">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for quotes in quoteList.en %}

        <div class="swiper-slide"><h1>{{ quotes }}</h1></div>

        {% endfor %}

      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-bullets"></div>
    </div>

  </div>

</section>
