<!-- Slider main container -->
<div class="swiper ppl_sldr" data-slider>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    <div class="swiper-slide">
      {% lazyswiper "tghb_studio-team_christian_01_l.jpg", "Christian Kriegsheim" %}
      <!-- Preloader image -->
      
    </div>

    <div class="swiper-slide">
      {% lazyswiper "tghb_studio-team_tomas_01_l.jpg", "Tomas Nims-Matousek" %}
      <!-- Preloader image -->
      
    </div>

    <div class="swiper-slide">
      {% lazyswiper "tghb_studio-team_feli_01_l.jpg", "Felicity Nims-Matousek" %}
      <!-- Preloader image -->
      
    </div>

    <div class="swiper-slide">
      {% lazyswiper "tghb_studio-team_christian_02_l.jpg", "Christian Kriegsheim" %}
      <!-- Preloader image -->
      
    </div>

    <div class="swiper-slide">
      {% lazyswiper "tghb_studio-team_tomas_03_l.jpg", "Tomas Nims-Matousek" %}
      <!-- Preloader image -->
      
    </div>

    <div class="swiper-slide">
      {% lazyswiper "tghb_studio-team_feli_02_l.jpg", "Felicity Nims-Matousek" %}
      <!-- Preloader image -->
      
    </div>

  </div>

  <div class="ppl_sldr__wrapper grd">
    <div class="sctn_ttl item__1" data-animate="fade-up">Team</div>
    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-bullets item__2"></div>
  </div>

</div>
