<!-- Slider main container -->
<div class="swiper-container ppl_sldr">

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">{% lazyswiper "tghb_studio-team_christian_01.jpg", "Christian Kriegsheim" %}</div>
    <div class="swiper-slide">{% lazyswiper "tghb_studio-team_tomas_01.jpg", "Tomas Nims-Matousek" %}</div>
    <div class="swiper-slide">{% lazyswiper "tghb_studio-team_feli_01.jpg", "Felicity Nims-Matousek" %}</div>
    <div class="swiper-slide">{% lazyswiper "tghb_studio-team_christian_02.jpg", "Christian Kriegsheim" %}</div>
    <div class="swiper-slide">{% lazyswiper "tghb_studio-team_tomas_03.jpg", "Tomas Nims-Matousek" %}</div>
    <div class="swiper-slide">{% lazyswiper "tghb_studio-team_feli_02.jpg", "Felicity Nims-Matousek" %}</div>
  </div>

  <div class="ppl_sldr__wrapper">
    <div class="sctn_ttl">Team</div>
    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-bullets"></div>
  </div>

</div>
